.pf1 {
  :is(h1,h3) input[type="text"],
  :is(input[type="text"],input[type="number"]).blended {
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  input {
    &.unsized {
      width: unset;
    }
    &.small {
      flex: 0 3em;
      width: 3em;
    }
  }

  textarea {
    font-family: sans-serif;
    padding: 1px 5px;
    resize: none;
    border: 1px solid @colorTan;
    background: var(--pf1-bg-dark-0);
    &:hover {
      border: 1px solid #111;
    }
  }

  select {
    flex: 1;
    font-size: @fontSizeNormal;
    line-height: 1;
    background: transparent;
  }
}
