<div class="pf1 chat-card defense-card" data-actor-id="{{actor.id}}"{{#if tokenUuid}} data-token-uuid="{{tokenUuid}}"{{/if}}>
  <header class="card-header type-color defenses flexrow">
    <h3 class="actor-name">{{localize "PF1.Defenses"}}</h3>
  </header>

  {{#if ac}}
  <div class="defense">
    <div class="info-box-joined ac">
      <div class="info-box">
        <h5>{{localize "PF1.ACNormal"}}</h5>
        <span class="value">{{ac.normal}}</span>
      </div>
      <div class="info-box">
        <h5>{{localize "PF1.ACTouch"}}</h5>
        <span class="value">{{ac.touch}}</span>
      </div>
      <div class="info-box">
        <h5>{{localize "PF1.ACFFAbbr"}}</h5>
        <span class="value">{{ac.flatFooted}}</span>
      </div>
    </div>
  </div>

  {{#if ac.notes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.ACNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each ac.notes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if cmd}}
  <div class="defense">
    <div class="info-box-joined cmd">
      <div class="info-box cmd normal">
        <h5>{{localize "PF1.CMDAbbr"}}</h5>
        <span class="value">{{cmd.normal}}</span>
      </div>
      <div class="info-box cmd flatfooted">
        <h5>{{localize "PF1.CMDFFAbbr"}}</h5>
        <span class="value">{{cmd.flatFooted}}</span>
      </div>
    </div>
    {{#if misc.sr}}
    <div class="info-box sr">
      <h5>{{localize "PF1.SpellResistanceAbbr"}}</h5>
      <span class="value">{{misc.sr}}</span>
    </div>
    {{/if}}
  </div>

  {{#if cmd.notes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.CMDNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each cmd.notes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/if}}

  {{#if misc.srNotes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.SpellResistanceNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.srNotes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if misc.drNotes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.DamRed"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.drNotes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if misc.energyResistance}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.EnRes"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.energyResistance as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if regen}}
  <div class="defense regen">
    <div class="info-box regen">
      <h5>{{localize "PF1.Regeneration"}}</h5>
      <span class="value">{{#if regen.regen}}{{regen.regen}}{{else}}{{localize "PF1.NonApplicable"}}{{/if}}</span>
    </div>
    <div class="info-box fastheal">
      <h5>{{localize "PF1.FastHealing"}}</h5>
      <span class="value">{{#if regen.fastHealing}}{{regen.fastHealing}}{{else}}{{localize "PF1.NonApplicable"}}{{/if}}</span>
    </div>
  </div>
  {{/if}}

  {{#if misc.conditions}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.ConditionPlural"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.conditions as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="saving-throws flexrow">
    <button data-action="defense-save" data-save="fort">{{localize "PF1.SavingThrowFort"}}</button>
    <button data-action="defense-save" data-save="ref">{{localize "PF1.SavingThrowRef"}}</button>
    <button data-action="defense-save" data-save="will">{{localize "PF1.SavingThrowWill"}}</button>
  </div>

  {{#if ac.notes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.ACNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each ac.notes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/if}}

  {{#if cmd}}
  <div class="defense">
    <div class="info-box cmd normal">
      <h5>{{localize "PF1.CMDAbbr"}}</h5>
      <span class="value">{{cmd.normal}}</span>
    </div>
    <div class="info-box cmd flatfooted">
      <h5>{{localize "PF1.CMDFFAbbr"}}</h5>
      <span class="value">{{cmd.flatFooted}}</span>
    </div>
    {{#if misc.sr}}
    <div class="info-box sr">
      <h5>{{localize "PF1.SpellResistanceAbbr"}}</h5>
      <span class="value">{{misc.sr}}</span>
    </div>
    {{/if}}
  </div>

  {{#if cmd.notes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.CMDNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each cmd.notes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/if}}

  {{#if misc.srNotes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.SpellResistanceNotes"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.srNotes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if misc.drNotes}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.DamRed"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.drNotes as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if misc.energyResistance}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.EnRes"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.energyResistance as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if regen}}
  <div class="defense regen">
    <div class="info-box regen">
      <h5>{{localize "PF1.Regeneration"}}</h5>
      <span class="value">{{#if regen.regen}}{{regen.regen}}{{else}}{{localize "PF1.NonApplicable"}}{{/if}}</span>
    </div>
    <div class="info-box fastheal">
      <h5>{{localize "PF1.FastHealing"}}</h5>
      <span class="value">{{#if regen.fastHealing}}{{regen.fastHealing}}{{else}}{{localize "PF1.NonApplicable"}}{{/if}}</span>
    </div>
  </div>
  {{/if}}

  {{#if misc.conditions}}
  <div class="flexcol property-group">
    <label>{{localize "PF1.ConditionPlural"}}</label>
    <div class="flexrow tag-list">
      {{#each misc.conditions as |v|}}
      <span class="tag">{{{v}}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="saving-throws flexrow">
    <button data-action="defense-save" data-save="fort">{{localize "PF1.SavingThrowFort"}}</button>
    <button data-action="defense-save" data-save="ref">{{localize "PF1.SavingThrowRef"}}</button>
    <button data-action="defense-save" data-save="will">{{localize "PF1.SavingThrowWill"}}</button>
  </div>
</div>
