<form autocomplete="off">
  <div class="form-group">
      <label>{{localize "PF1.Rolls.Check.Override"}}</label>
      <div class="form-fields">
        <i class="fa-solid fa-dice-d20 fa-fw"></i>
        <input class="attribute" type="text" name="d20" value="{{d20}}" placeholder="{{localize "PF1.Rolls.Check.OverrideHint"}}">
      </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.SituationalBonus"}}</label>
    <div class="form-fields">
      <i class="fa-solid fa-plus-minus fa-fw"></i>
      <input type="text" name="bonus" value="{{bonus}}" placeholder="{{localize "PF1.Rolls.BonusHint"}}">
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.RollMode"}}</label>
    <div class="form-fields">
      <i class="fa-solid fa-eye-low-vision fa-fw"></i>
      <select name="rollMode">
        {{selectOptions rollModes selected=rollMode localize=true}}
      </select>
    </div>
  </div>
</form>
