<form class="{{cssClass}}" autocomplete="off">

  {{#unless hasClasses}}<span class="charactermancer warning">{{localize "PF1.Info_MissingClass"}}</span>{{/unless}}

  {{!-- PC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary" data-group="primary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="attributes" data-group="primary">{{ localize "PF1.Attributes" }}</a>
    <a class="item" data-tab="combat" data-group="primary">{{ localize "PF1.Combat" }}</a>
    <a class="item" data-tab="inventory" data-group="primary">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="feats" data-group="primary">{{ localize "PF1.Features" }}</a>
    <a class="item" data-tab="skills" data-group="primary">{{ localize "PF1.Skills" }}</a>
    {{#if usesAnySpellbook}}<a class="item" data-tab="spellbook" data-group="primary">{{ localize "PF1.Spells" }}</a>{{/if}}
    <a class="item" data-tab="buffs" data-group="primary">{{ localize "PF1.Buffs" }}</a>
    <a class="item" data-tab="biography" data-group="primary">{{ localize "PF1.Biography" }}</a>
    <a class="item" data-tab="notes" data-group="primary">{{ localize "PF1.Notes" }}</a>
    <a class="item" data-tab="settings" data-group="primary">{{ localize "PF1.Settings" }}</a>
  </nav>

  {{!-- PC Sheet Body --}}
  <section class="primary-body">

    {{!-- Details --}}
    <div class="tab summary flexcol" data-group="primary" data-tab="summary">
      {{> "systems/pf1/templates/actors/parts/actor-summary.hbs"}}
    </div>

    <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
      {{> "systems/pf1/templates/actors/parts/actor-attributes.hbs"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat flexcol" data-group="primary" data-tab="combat">
      {{~> "systems/pf1/templates/actors/parts/actor-combat.hbs" sections=attacks}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/pf1/templates/actors/parts/actor-inventory.hbs" sections=inventory}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="feats">
      {{> "systems/pf1/templates/actors/parts/actor-features.hbs" sections=features}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills flexcol{{#if @root.skillsLocked}} locked{{/if}}" data-group="primary" data-tab="skills">
      {{> "systems/pf1/templates/actors/parts/actor-skills-front.hbs"}}
    </div>

    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
      {{> "systems/pf1/templates/actors/parts/actor-buffs.hbs" sections=buffs}}
    </div>

    {{!-- Spellbook Tab --}}
    {{#if usesAnySpellbook}}
    <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
      {{~> "systems/pf1/templates/actors/parts/actor-spellbook-front.hbs"}}
    </div>
    {{/if}}

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      {{#if magicItems}}
      {{> "systems/pf1/templates/internal/table_magic-items.hbs" items=magicItems}}
      {{/if}}
    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings flexcol" data-group="primary" data-tab="settings">
      {{> "systems/pf1/templates/actors/parts/actor-settings.hbs"}}
    </div>
  </section>
</form>
