<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">

    <div class="header-details flexcol">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
        </h1>
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      {{> "systems/pf1/templates/actors/parts/actor-level.hbs" hd=false}}

      <div class="details">
        {{! Alignment }}
        <div class="info-box alignment">
          <h5>{{localize "PF1.Alignment"}}</h5>
          <span class="value">
            <input name="system.details.haunt.alignment"  value="{{system.details.haunt.alignment}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        {{! Area }}
        <div class="info-box area">
          <h5>{{localize "PF1.Area"}}</h5>
          <span class="value">
            <input name="system.details.haunt.area"  value="{{system.details.haunt.area}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        {{! Aura }}
        <div class="info-box aura">
          <h5>{{localize "PF1.Aura.Single"}}</h5>
          <span class="value">
            <input name="system.details.haunt.aura"  value="{{system.details.haunt.aura}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        {{! Caster Level }}
        <div class="info-box caster-level">
          <h5>{{localize "PF1.CasterLevel"}}</h5>
          <span class="value">
            <input name="system.details.haunt.cl"  value="{{system.details.haunt.cl}}"  data-dtype="Number" type="number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        {{! Initiative }}
        <div class="info-box attribute initiative">
          <h5><a class="rollable"><i class="fas fa-dice"></i> <span>{{localize "PF1.Initiative"}}</span></a></h5>
          <span class="value">
            <span class="text-box direct allow-relative" name="system.attributes.init.value" data-dtype="Number">
              {{system.attributes.init.total}}
            </span>
          </span>
        </div>
      </div>

      <div class="notice info-box-header">
        <h3>{{localize "PF1.Haunt.Notice"}}</h3>
        <input name="system.details.haunt.notice" value="{{system.details.haunt.notice}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
      </div>

      <div class="details">
        {{! Health }}
        <div class="info-box-joined info-box-header health">
          <h3>{{localize "PF1.HitPoints"}}</h3>
          <div class="info-box current">
            <h5>{{localize "PF1.Current"}}</h5>
            <span class="value">
              <span class="text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
            </span>
          </div>
          <div class="info-box maximum">
            <h5>{{localize "PF1.Maximum"}}</h5>
            <span class="value">
              <span class="text-box direct hp-max-input" name="system.attributes.hp.max">{{system.attributes.hp.max}}</span>
            </span>
          </div>
        </div>

        {{! Details }}
        <div class="extra-details info-box-header">
          <h3>{{localize "PF1.Details"}}</h3>
          <div class="info-box weakness">
            <h5>{{localize "PF1.Haunt.Weakness"}}</h5>
            <span class="value">
              <input name="system.details.haunt.weakness" value="{{system.details.haunt.weakness}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
          <div class="info-box trigger">
            <h5>{{localize "PF1.Trigger"}}</h5>
            <span class="value">
              <input name="system.details.haunt.trigger" value="{{system.details.haunt.trigger}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
          <div class="info-box reset">
            <h5>{{localize "PF1.Reset"}}</h5>
            <span class="value">
              <input name="system.details.haunt.reset" value="{{system.details.haunt.reset}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
        </div>
      </div>

      {{! Effect }}
      <div class="effect">
        <h3>{{localize "PF1.Effect"}}</h3>
        <textarea rows="4" name="system.details.haunt.effect">{{system.details.haunt.effect}}</textarea>
      </div>

      {{! Destruction }}
      <div class="destruction">
        <h3>{{localize "PF1.Haunt.Destruction"}}</h3>
        <textarea rows="4" name="system.details.haunt.destruction">{{system.details.haunt.destruction}}</textarea>
      </div>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          <ol class="item-groups-list">
          {{#each attacks as |section sid|}}
          {{#unless section._hidden}}
            <ol class="item-list" data-type="attack" data-subtype="{{sid}}">
              <li class="item-list-header flexrow attacks-{{sid}}">
                <div class="item-name">
                  <h3>{{section.label}}</h3>
                </div>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon-pf icon-gears" title="{{localize "PF1.ActionPlural"}}"></i></div>

                <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" title="{{localize "PF1.ChargePlural"}}"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if section.canCreate}}
                  <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")'></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if item.isCharged}}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  <span class="sep"> / </span>
                  <span class="max">{{item.uses.max}}</span>
                  <span class="tooltipcontent">
                    <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
                    <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
                  </span>
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          {{/unless}}
          {{/each}}
          </ol>
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </section>
</form>
