<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img">

    <div class="header-details flexcol">
      <div class="header-top flexrow">
        <h1 class="char-name">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
        </h1>
      </div>

      {{!-- Options --}}
      <div class="flexcol">
        <ul class="summary options">
          {{!-- Sell Multiplier --}}
          <li>
            <label data-tooltip="PF1.HelpSellMultiplier">
              {{localize "PF1.HelpSellMultiplierN"}}
              <input class="value sell-rate blended" type="number" name="flags.pf1.sellMultiplier" value="{{sellMultiplier}}" placeholder="0.5" min="0" step="0.01" data-dtype="Number">
            </label>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="inventory">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">

    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">

      {{!-- Inventory Tab --}}
      {{> "systems/pf1/templates/actors/parts/actor-inventory.hbs" sections=inventory}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>

      {{#if magicItems}}
      {{> "systems/pf1/templates/internal/table_magic-items.hbs" items=magicItems}}
      {{/if}}
    </div>

  </section>

</form>
