<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">

    <div class="header-details flexcol">
      <!-- <div class="header-top flexrow"> -->
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
        </h1>
      <!-- </div> -->
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      {{> "systems/pf1/templates/actors/parts/actor-level.hbs"}}

      <div class="details">
        <div class="info-box type">
          <h5>{{localize "PF1.Trap.Type"}}</h5>
          <span class="value">
            <input name="system.details.trap.type" value="{{system.details.trap.type}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        <div class="info-box perception">
          <h5>{{localize "PF1.Trap.PerceptionDC"}}</h5>
          <span class="value">
            <input name="system.details.trap.perception" value="{{system.details.trap.perception}}" type="number" data-dtype="Number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>

        <div class="info-box disarm">
          <h5>{{localize "PF1.Trap.DisableDeviceDC"}}</h5>
          <span class="value">
            <input name="system.details.trap.disarm" value="{{system.details.trap.disarm}}" type="number" data-dtype="Number" step="1" placeholder="{{localize "PF1.NonApplicable"}}">
          </span>
        </div>
      </div>

      <div class="effects info-box-header">
        <h3>{{localize "PF1.Trap.EffectsDetails"}}</h3>

        <div class="effect-details">
          {{! Trigger }}
          <div class="info-box trigger">
            <h5>{{localize "PF1.Trap.Trigger"}}</h5>
            <span class="value">
              <input name="system.details.trap.trigger" value="{{system.details.trap.trigger}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
          {{! Duration }}
          <div class="info-box duration">
            <h5>{{localize "PF1.Duration"}}</h5>
            <span class="value">
              <input name="system.details.trap.duration" value="{{system.details.trap.duration}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
          {{! Reset }}
          <div class="info-box type">
            <h5>{{localize "PF1.Reset"}}</h5>
            <span class="value">
              <input name="system.details.trap.reset" value="{{system.details.trap.reset}}" type="text" placeholder="{{localize "PF1.NonApplicable"}}">
            </span>
          </div>
        </div>

        {{! Effect }}
        <div class="effect">
          <textarea name="system.details.trap.effect" rows="6">{{system.details.trap.effect}}</textarea>
        </div>
      </div>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          <ol class="item-groups-list">
          {{#each attacks as |section sid|}}
          {{#unless section._hidden}}
            <ol class="item-list" data-type="attack" data-subtype="{{sid}}">
              <li class="item-list-header flexrow attacks-{{sid}}">
                <div class="item-name">
                  <h3>{{section.label}}</h3>
                </div>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon-pf icon-gears" title="{{localize "PF1.ActionPlural"}}"></i></div>

                <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" title="{{localize "PF1.ChargePlural"}}"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if section.canCreate}}
                  <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")'></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                  {{#if item.isCharged}}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  <span class="sep"> / </span>
                  <span class="max">{{item.uses.max}}</span>
                  <span class="tooltipcontent">
                    <span class="span2 align-left">@resources.{{item.tag}}.value :</span><span class="span1 align-right"> {{item.uses.value}}</span>
                    <span class="span2 align-left">@resources.{{item.tag}}.max :</span><span class="span1 align-right"> {{item.uses.max}}</span>
                  </span>
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          {{/unless}}
          {{/each}}
          </ol>
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>
  </section>

</form>
