:root {
  --pf1-bg-dark-0: rgba(0, 0, 0, 0.05);
  --pf1-bg-dark-1: rgba(0, 0, 0, 0.2);
  --pf1-bg-dark-2: rgba(0, 0, 0, 0.3);
  --pf1-bg-dark-3: rgba(0, 0, 0, 0.35);
  --pf1-bg-dark-4: rgba(0, 0, 0, 0.5);
  --pf1-bg-dark-5: rgba(0, 0, 0, 0.7);

  --pf1-bg-light-1: #c9c7b8;

  --pf1-bg-gray-4: rgba(127, 127, 127, 0.5);

  --pf1-color-text-hover: #aa0200;

  --pf1-success: #18520b;
  --pf1-failure: #aa0200;

  --pf1-roll-critical: #d8e9ba;
  --pf1-roll-success: hsl(201deg 66% 74%);
  --pf1-roll-success-alt: hsl(174deg 100% 8%); // for hue rotated blocks
  --pf1-roll-failure: hsl(0deg 49% 75%);
  --pf1-roll-failure-alt: hsl(53deg 100% 17%); // for hue rotated blocks
  --pf1-roll-normal: hsl(0deg 0% 20%);

  --pf1-quick-action-default-border: gray;
  --pf1-quick-action-attack-border: crimson;
  --pf1-quick-action-weapon-border: silver;
  --pf1-quick-action-equipment-border: violet;
  --pf1-quick-action-consumable-border: limegreen;
  --pf1-quick-action-feat-border: darkorange;
  --pf1-quick-action-spell-border: blueviolet;

  --pf1-item-hover-text: var(--color-text-dark-primary);
  --pf1-item-hover-shadow: 0 0 10px red;

  --pf1-item-list-hover-bg: rgba(140, 130, 110, 0.25);
  --pf1-item-list-hover-text: var(--color-text-dark-primary);
  --pf1-item-list-bg: rgba(175, 175, 175, 0.3);
  --pf1-item-list-bg-alt: rgba(210, 210, 210, 0.3);

  --pf1-compendium-item-border: #ccc;

  --pf1-warning-bg: #cece00;
  --pf1-warning-border: #909000;

  --pf1-dim-bg: #92918b;
  --pf1-dark-bg: #191813;

  --pf1-header-background: rgb(116, 116, 116);
  --pf1-header-text: white;
  --pf1-header-shadow: 1px 1px black;

  --pf1-header-bg-dark-0: rgba(0, 0, 0, 0.5);
}
