<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="contents">{{ localize "PF1.Containers.Contents.Label" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Contents Tab --}}
    <div class="tab contents" data-group="primary" data-tab="contents">

      <header>
        <div class="form-group">
          <label>{{localize "PF1.WeightReduction"}} %</label>
          <div class="form-fields">
            <input type="number" class="select-on-click" value="{{system.weight.reduction.percent}}" name="system.weight.reduction.percent" placeholder="0">
            <label>{{localize "PF1.WeightReductionFlat"}}</label>
            <div data-action="input-text" data-for=".data-weight-reduction-flat-value" data-attr-value="system.weight.reduction.value" data-input-value="{{system.weight.converted.reduction}}">
              <input type="number" class="data-weight-reduction-flat-value" value="{{system.weight.converted.reduction}}" name="system.weight.reduction.value" placeholder="0" readonly>
            </div>
          </div>
        </div>

        <div class="form-group">
          {{~> "systems/pf1/templates/internal/item-search.hbs" category="container"}}

          <ol class="currency flexrow{{#if hasCurrency}} has-currency{{/if}}">
            <h3>{{localize "PF1.Currency.Label"}}</h3>
            {{#each config.currencies as |l k|}}
            <li class="denomination {{k}}" data-denomination="{{k}}">
              <label>{{l}}</label>
              <input type="text" class="select-on-click" name="system.currency.{{k}}" value="{{#if (lookup @root.system.currency k)}}{{lookup @root.system.currency k}}{{/if}}" data-dtype="String">
              <a class="convert-currency" data-type="{{k}}" data-category="currency" data-tooltip="PF1.ConvertCurrency"><i class="fas fa-long-arrow-alt-left"></i></a>
            </li>
            {{/each}}
          </ol>
        </div>
      </header>

      {{> "systems/pf1/templates/items/parts/item-contents.hbs" sections=inventory}}

      <footer>
        <table>
          <thead>
            <tr>
              <th>{{localize "PF1.Containers.Contents.Weight"}}</th>
              <th>{{localize "PF1.Containers.Contents.Value"}}</th>
              <th>{{localize "PF1.Containers.Contents.SellValue"}}</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{weight.contents}} {{weight.units}}</td>
              <td>{{labels.totalValue}}</td>
              <td>{{labels.sellValue}}</td>
            </tr>
          </tbody>
        </table>
      </footer>
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
