<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#if labels.childTypeDistinct}}
          {{labels.childType}}
          {{else}}
          {{labels.subType}}
          {{/if}}
        </li>
        <li>
          {{#if hasMultipleSlots}}{{labels.slot}}{{/if}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      {{!-- Equipment Type --}}
      <h3 class="form-header">{{localize "PF1.InventoryArmorEquipment"}}</h3>
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{selectOptions equipmentCategories.types selected=system.subType}}
          </select>
        </div>
      </div>

      {{!-- Equipment Subtype --}}
      {{#if hasSubCategory}}
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <div class="form-fields">
          <select name="system.equipmentSubtype">
            {{selectOptions equipmentCategories.subTypes selected=system.equipmentSubtype}}
          </select>
        </div>
      </div>
      {{/if}}

      {{!-- Equipment Slot --}}
      {{#if hasMultipleSlots}}
      <div class="form-group">
        <label>{{localize "PF1.Slot"}}</label>
        <div class="form-fields">
          <select name="system.slot">
            {{selectOptions equipmentSlots selected=system.slot}}
          </select>
        </div>
      </div>
      {{else}}
      <input type="hidden" name="system.slot" value="{{system.subType}}">
      {{/if}}

      {{!-- Equipment Materials --}}
      {{#if (or (eq item.subType "armor") (eq item.subType "shield"))}}
        {{!-- Base Material --}}
        {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Base" value_ref="system.armor.material.base.value" value=system.armor.material.base.value custom_ref="system.armor.material.base.custom" custom=system.armor.material.base.custom choices=materialCategories.basics}}

        {{!-- Chosen Material --}}
        {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Normal" value_ref="system.armor.material.normal.value" value=system.armor.material.normal.value custom_ref="system.armor.material.normal.custom" custom=system.armor.material.normal.custom choices=materialCategories.materials}}

        {{> "systems/pf1/templates/items/parts/item-materials-addon.hbs" reference="system.armor.material.addon"}}
      {{/if}}

      {{!-- Equipment Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{!-- Base Types --}}
      {{> "systems/pf1/templates/items/parts/item-base-types.hbs"}}

      <hr>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorClass"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number">
        </div>
      </div>

      {{!-- Enhancement Bonus --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.enh" value="{{system.armor.enh}}" data-dtype="Number">
        </div>
      </div>
      {{/unless}}

      {{!-- Dexterity Modifier --}}
      <div class="form-group">
        <label>{{localize "PF1.MaxDexterityModifier"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.dex" value="{{system.armor.dex}}" placeholder="{{localize "PF1.Unlimited"}}" data-dtype="Number">
        </div>
      </div>

      {{!-- Armor Check Penalty --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorCheckPenalty"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.acp" value="{{system.armor.acp}}" data-dtype="Number" placeholder="0">
        </div>
      </div>

      {{!-- Spell Failure --}}
      <div class="form-group">
        <label>{{localize "PF1.ArcaneSpellFailure"}}</label>
        <div class="form-fields">
          <input type="number" name="system.spellFailure" value="{{system.spellFailure}}" data-dtype="Number" placeholder="0">
        </div>
      </div>

      <h3 class="form-header">{{localize "PF1.Properties"}}</h3>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.masterwork" {{checked system.masterwork}}> {{localize "PF1.Masterwork"}}
        </label>
        {{#if @root.showIdentifiedData}}
        <label class="checkbox artifact">
          <input type="checkbox" name="system.artifact" {{checked system.artifact}}> {{localize "PF1.Artifact"}}
        </label>
        {{/if}}
        <label class="checkbox broken">
          <input type="checkbox" name="system.broken" {{checked system.broken}}> {{localize "PF1.Broken"}}
        </label>
        <label class="checkbox timeworn">
          <input type="checkbox" name="system.timeworn" {{checked system.timeworn}}> {{localize "PF1.Timeworn"}}
        </label>
        <label class="checkbox nonlethal">
          <input type="checkbox" name="system.nonlethal" {{checked system.nonlethal}}> {{localize "PF1.Nonlethal"}}
        </label>
      </div>

      <h4 class="form-header">{{localize "PF1.Misc"}}</h4>

      <div class="form-group stacked">
        {{#if owner}}
        <label class="checkbox">
          <input type="checkbox" name="system.showInQuickbar" {{checked system.showInQuickbar}}> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/if}}

        <label class="checkbox">
          <input type="checkbox" name="system.proficient" {{checked system.proficient}}> {{localize "PF1.ProficientAttack"}}
        </label>
      </div>

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}


      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h4 class="form-header">{{localize "PF1.Advanced"}}</h4>

      {{! Tags }}
      {{~> "systems/pf1/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
