<form class="{{ cssClass }} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{ item.img }}" data-tooltip="{{ item.name }}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{ itemType }}
        </li>
        <li>
          {{ labels.subType }}
        </li>
        <li>
          {{ labels.childType }}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      {{#if (and owner owned)}}
      <div class="form-group">
        <button type="button" name="create-attack">{{localize "PF1.CreateAttack"}}</button>
      </div>
      {{/if}}

      <h3 class="form-header">{{localize "PF1.WeaponDetails"}}</h3>

      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{selectOptions weaponCategories.types selected=system.subType}}
          </select>
        </div>
      </div>

      {{!-- Weapon Subtype --}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.weaponSubtype">
            {{selectOptions weaponCategories.subTypes selected=system.weaponSubtype}}
          </select>
        </div>
      </div>

      {{!-- Weapon Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{!-- Weapon Hold Type --}}
      {{#unless isRanged}}
      <div class="form-group">
        <label>{{localize "PF1.Held"}}</label>
        <div class="form-fields">
          <select name="system.held">
            {{selectOptions config.weaponHoldTypes selected=system.held}}
          </select>
        </div>
      </div>
      {{/unless}}

      {{!-- Base Material --}}
      {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Base" value_ref="system.material.base.value" value=system.material.base.value custom_ref="system.material.base.custom" custom=system.material.base.custom choices=materialCategories.basics}}

      {{!-- Chosen Material --}}
      {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Normal" value_ref="system.material.normal.value" value=system.material.normal.value custom_ref="system.material.normal.custom" custom=system.material.normal.custom choices=materialCategories.materials}}

      {{!-- Material Addon --}}
      {{> "systems/pf1/templates/items/parts/item-materials-addon.hbs" reference="system.material.addon"}}

      {{#unless showUnidentifiedData}}
      {{!-- Enhancement Bonus --}}
      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="number" name="system.enh" value="{{ system.enh }}" data-dtype="Number" placeholder="0">
        </div>
      </div>
      {{/unless}}

      {{!-- Ammo Config --}}
      {{> "systems/pf1/templates/items/parts/item-ammo.hbs"}}

      {{!-- Base Types --}}
      {{> "systems/pf1/templates/items/parts/item-base-types.hbs"}}

      {{!-- Alignment Types --}}
      {{> "systems/pf1/templates/items/parts/item-alignments.hbs" reference="system.alignments" value=system.alignments}}

      {{!-- Weapon Groups --}}
      {{> "systems/pf1/templates/items/parts/item-weapon-groups.hbs"}}

      {{!-- Equipment Status --}}
      <h3 class="form-header">{{localize "PF1.EquipmentStatus"}}</h3>
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.masterwork" {{checked system.masterwork}}> {{localize "PF1.Masterwork"}}
        </label>
        {{#if @root.showIdentifiedData}}
        <label class="checkbox artifact">
          <input type="checkbox" name="system.artifact" {{checked system.artifact}}> {{localize "PF1.Artifact"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="system.broken" {{checked system.broken}}> {{localize "PF1.Broken"}}
        </label>
        <label class="checkbox timeworn">
          <input type="checkbox" name="system.timeworn" {{checked system.timeworn}}> {{localize "PF1.Timeworn"}}
        </label>
      </div>

      {{#unless showUnidentifiedData}}
      {{!-- Weapon Properties --}}
      <h3 class="form-header">{{localize "PF1.WeaponProperties"}}</h3>
      <div class="form-group stacked weapon-properties">
        {{#each config.weaponProperties as |name prop|}}
        <label class="checkbox">
          <input type="checkbox" name="system.properties.{{ prop }}" {{checked (lookup @root.system.properties prop)}}>
          {{ name }}
        </label>
        {{/each}}
      </div>
      {{/unless}}

      <h3 class="form-header">{{localize "PF1.Misc"}}</h3>
      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.showInQuickbar" {{checked system.showInQuickbar}}>
          {{localize "PF1.ShowInQuickbar"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.proficient" {{checked system.proficient}}> {{localize "PF1.Proficient"}}
        </label>
      </div>

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h4 class="form-header">{{localize "PF1.Advanced"}}</h4>

      {{! Tags }}
      {{~> "systems/pf1/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    {{!-- Links Tab --}}
    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{!-- Advanced Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
