<form autocomplete="off">
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="base">
      <i class="fas fa-heartbeat"></i>
      {{localize "PF1.SETTINGS.Health.TabBase"}}
    </a>
    <a class="item" data-tab="variants">
      <i class="fas fa-prescription-bottle-alt"></i>
      {{localize "PF1.SETTINGS.Health.TabVariant"}}
    </a>
  </nav>

  <div class="tabbed">
    <!-- Base Tab -->
    <section class="tab" data-tab="base">
      <p class="notes">{{localize 'PF1.SETTINGS.Health.Instructions'}}</p>
      <div class="hitdice-table">
        <label class="index table-header">{{localize 'PF1.ClassType'}}</label>
        <label class="table-header">{{localize "PF1.SETTINGS.Health.Compute"}}</label>
        <label class="table-header">{{localize "PF1.SETTINGS.Health.Rate"}}</label>
        <label class="table-header" data-tooltip="PF1.SETTINGS.Health.CanMaximizeHint">{{localize "PF1.SETTINGS.Health.CanMaximize"}}</label>

        {{#each hitdice as |opt hd|}}
          <label class="index">{{hd}}</label>
          <div class="switch">
            <input class="switch-check" type="checkbox" {{#if opt.auto}}checked{{/if}} name="hitdice.{{hd}}.auto" id="hitdice.{{hd}}.auto">
            <label class="switch-label" for="hitdice.{{hd}}.auto">
              <span class="switch-auto">{{localize 'PF1.SETTINGS.Health.ComputeAuto'}}</span>
              <span class="switch-manual">{{localize 'PF1.SETTINGS.Health.ComputeManual'}}</span>
            </label>
          </div>
          <span><input type="number" min="0" step="0.1" data-dtype="Number" name="hitdice.{{hd}}.rate" value="{{opt.rate}}"></span>
          <span><input type="checkbox" data-dtype="Boolean" name="hitdice.{{hd}}.maximized" {{checked opt.maximized}}></span>
        {{/each}}
        </ul>
      </div>

      <div class="form-group">
        <label>{{localize "PF1.SETTINGS.Health.MaximizedLimit"}}</label>
        <div class="form-fields">
          <input type="number" data-dtype="Number" value="{{maximized}}" min="0" step="1">
        </div>
      </div>

      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.Rounding'}}</label>
        <select name="rounding">
          {{#select rounding}}
            <option value="up">{{localize "PF1.SETTINGS.Health.RoundingUp"}}</option>
            <option value="nearest">{{localize "PF1.SETTINGS.Health.RoundingNearest"}}</option>
            <option value="down">{{localize "PF1.SETTINGS.Health.RoundingDown"}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'PF1.SETTINGS.Health.RoundingHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.Continuity'}}</label>
        <select name="continuous" data-dtype="Boolean">
          {{#select continuous}}
            <option value="true">{{localize 'PF1.SETTINGS.Health.Continuous'}}</option>
            <option value="false">{{localize 'PF1.SETTINGS.Health.Discrete'}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'PF1.SETTINGS.Health.ContinuityHint'}}</p>
      </div>
    </section>

    <!-- Variant Rules Tab -->
    <section class="tab" data-tab="variants">
      <!-- Wounds & Vigor -->
      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.WoundsAndVigor.PC'}}</label>
        <input type="checkbox" {{#if variants.pc.useWoundsAndVigor}}checked{{/if}} name="variants.pc.useWoundsAndVigor">
        <p class="notes">{{localize 'PF1.SETTINGS.Health.WoundsAndVigor.PCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.WoundsAndVigor.NPC'}}</label>
        <input type="checkbox" {{#if variants.npc.useWoundsAndVigor}}checked{{/if}} name="variants.npc.useWoundsAndVigor">
        <p class="notes">{{localize 'PF1.SETTINGS.Health.WoundsAndVigor.NPCHint'}}</p>
      </div>

      <!-- Wound Thresholds -->
      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.WoundThresholds.PC'}}</label>
        <select data-dtype="Number" name="variants.pc.useWoundThresholds">
        {{#select variants.pc.useWoundThresholds}}
          <option value="0">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Disabled'}}</option>
          <option value="1">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Normal'}}</option>
          <option value="2">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Gritty'}}</option>
        {{/select}}
        </select>
        <p class="notes">{{localize 'PF1.SETTINGS.Health.WoundThresholds.PCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.WoundThresholds.NPC'}}</label>
        <select data-dtype="Number" name="variants.npc.useWoundThresholds">
        {{#select variants.npc.useWoundThresholds}}
          <option value="0">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Disabled'}}</option>
          <option value="1">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Normal'}}</option>
          <option value="2">{{localize 'PF1.SETTINGS.Health.WoundThresholds.Gritty'}}</option>
        {{/select}}
        </select>
        <p class="notes">{{localize 'PF1.SETTINGS.Health.WoundThresholds.NPCHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'PF1.SETTINGS.Health.WoundThresholds.PCOverride'}}</label>
        <input data-dtype="Boolean" type="checkbox" {{#if variants.pc.allowWoundThresholdOverride}}checked{{/if}} name="variants.pc.allowWoundThresholdOverride">
        <p class="notes">{{localize 'PF1.SETTINGS.Health.WoundThresholds.PCOverrideHint'}}</p>
      </div>
    </section>
  </div>

  <div class="form-group">
    <button type="submit" name="submit" >
      <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
    </button>
  </div>
</form>
