{{!-- Skill Rank Info --}}
<header class="flexcol skill-ranks">
  <div class="form-group">
    {{! Arbitrary Bonus SKill Ranks}}
    <div class="flexrow skill-rank-formula">
      <label>{{localize "PF1.SkillBonusRankFormula"}}</label>
      <input class="formula" type="text" name="system.details.bonusSkillRankFormula" value="{{system.details.bonusSkillRankFormula}}" placeholder="{{localize "PF1.Formula"}}">
    </div>
    {{! Skill Lock Toggle }}
    <a class="skill-lock-button{{#unless @root.skillsLocked}} unlocked{{/unless}}" data-tooltip="PF1.ToggleSkillLock"></a>
  </div>

  {{! Skill Ranks }}
  <div class="flexrow skill-ranks">
    <div class="info-box-joined adventure tooltip">
      <div class="info-box available">
        <h5>{{localize "PF1.SkillRankPlural"}}</h5>
        <span class="value">{{skillRanks.allowed}}</span>
      </div>
      <div class="info-box used">
        <h5>{{localize "PF1.Used"}}</h5>
        <span class="value">{{skillRanks.used}}</span>
      </div>
      <span class="tooltipcontent">
        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceData.skillRanks label="PF1.FromSources" skipLine=true}}
      </span>
    </div>

    {{#if useBGSkills}}
    <div class="info-box transferred">
      <h5>{{localize "PF1.AdventureRanksToBG"}}</h5>
      <span class="value">{{skillRanks.sentToBG}}</span>
    </div>

    <div class="info-box-joined background tooltip">
      <div class="info-box available">
        <h5>{{localize "PF1.BGSkillRanks"}}</h5>
        <span class="value">{{skillRanks.bgAllowed}}</span>
      </div>
      <div class="info-box used">
        <h5>{{localize "PF1.BGUsed"}}</h5>
        <span class="value">{{skillRanks.bgUsed}}</span>
      </div>
      <span class="tooltipcontent">
        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceData.bgSkillRanks label="PF1.FromSources" skipLine=true}}
      </span>
    </div>
    {{/if}}

    <div class="info-box acp">
      <h5>{{localize "PF1.ACP"}}</h5>
      <span class="value">{{system.attributes.acp.total}}</span>
    </div>
  </div>
</header>

{{#if useBGSkills}}
{{! Background Skills }}
<nav class="sheet-navigation tabs" data-group="skillset">
  <a class="item" data-tab="adventure" data-group="skillset">{{localize "PF1.SkillTypeAdventure"}}</a>
  <a class="item" data-tab="background" data-group="skillset">{{localize "PF1.SkillTypeBackground"}}</a>
</nav>

<section class="skillset-body">
  {{! Adventure Skills }}
  <div class="tab" data-group="skillset" data-tab="adventure">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.adventure.skills isBackgroundSkills="false" skillGroup="adventure"}}
  </div>

  {{! Background Skills }}
  <div class="tab" data-group="skillset" data-tab="background">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.background.skills isBackgroundSkills="true" skillGroup="background"}}
  </div>
</section>
{{else}}
{{! Normal Skills }}
<section class="skillset-body">
  {{! All Skills }}
  <div class="tab active" data-group="skillset" data-tab="all">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.all.skills isBackgroundSkills="false" skillGroup="adventure"}}
  </div>
</section>
{{/if}}
