{{#*inline "skill"}}
<li class="skill{{#if arbitrary}} arbitrary{{/if}}{{#if subSkillId}} sub-skill{{/if}}{{#if untrained}} untrained{{/if}}{{#if compendiumEntry}} compendium{{/if}}" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}">
  <div class="skill-name tooltip">
    <span class="tooltipcontent">
      <span class="span2 align-left">@skills.{{key}}.mod :</span><span class="span1 align-right">{{mod}}</span>
      <span class="span2 align-left">@skills.{{key}}.rank :</span><span class="span1 align-right">{{rank}}</span>

      {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails }}

      {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "skill." key)}}
    </span>
    {{#if arbitrary}}
    <a class="control skill-create" data-tooltip="PF1.AddSkill">
      <i class="fas fa-plus"></i>
    </a>
    {{/if}}
    <h4>{{#if custom}}{{name}}{{else}}{{label}}{{/if}}</h4>
    <div class="controls">
      {{#if compendiumEntry}}
      <a class="compendium-entry" data-compendium-entry="{{compendiumEntry}}" data-document-type="JournalEntry">
        <i class="fas fa-book compendium-icon"></i>
      </a>
      {{/if}}
    </div>
  </div>
  <a class="action roll" data-tooltip="PF1.RollSkill" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}">
    <i class="fa-solid fa-dice-d20"></i>
  </a>

  {{#unless arbitrary}}
  <span class="text-box skill-mod" data-tooltip="PF1.SkillModTooltip">{{numberFormat mod decimals=0 sign=true}}</span>
  <span class="text-box skill-rank" name="system.skills.{{key}}.rank" data-dtype="Number" data-tooltip="PF1.SkillRankPlural" data-placeholder="{{localize "PF1.Rank"}}">{{#if rank}}{{rank}}{{/if}}</span>
  <label class="checkbox skill-cs" data-tooltip="PF1.CSTooltip">
    <abbr>{{localize "PF1.CS"}}</abbr>
    <input type="checkbox" disabled {{checked cs}}>
  </label>
  <label class="checkbox skill-acp" data-tooltip="PF1.ACPTooltip">
    <abbr>{{localize "PF1.ACP"}}</abbr>
    <input type="checkbox" class="lockable" name="system.skills.{{key}}.acp"{{#if @root.skillsLocked}} disabled{{/if}} {{checked acp}}>
  </label>
  <label class="checkbox skill-rt" data-tooltip="PF1.RTTooltip">
    <abbr>{{localize "PF1.RT"}}</abbr>
    <input type="checkbox" class="lockable" name="system.skills.{{key}}.rt"{{#if @root.skillsLocked}} disabled{{/if}} {{checked rt}}>
  </label>
  <div class="skill-ability">
    <select class="skill-ability lockable" name="system.skills.{{key}}.ability" data-dtype="String"{{#if @root.skillsLocked}} disabled{{/if}}>
      {{selectOptions @root.config.abilitiesShort selected=ability blank=""}}
    </select>
  </div>
  <div class="controls custom lockable{{#if @root.skillsLocked}} hide-contents{{/if}}">
    <a class="control skill-edit" data-tooltip="PF1.EditSkill"><i class="fas fa-edit"></i></a>
    {{#if custom}}
    <a class="control skill-delete" data-tooltip="PF1.DeleteSkill"><i class="fas fa-trash"></i></a>
    {{/if}}
  </div>
  {{/unless}}
</li>
{{#each subSkills}}
{{> "skill"}}
{{/each}}
{{/inline}}

{{!-- Skills --}}
<ul class="skills-list {{skillGroup}}" data-background="{{isBackgroundSkills}}">
  {{#each skillset as |skill s|}}
  {{> "skill"}}
  {{/each}}

  {{! Add new custom skill}}
  <div class="controls skills">
    {{#if owner}}
    <a class="control skill-create">
      <i class="fas fa-plus"></i>
      {{localize 'PF1.AddSkill'}}
    </a>
    {{/if}}
  </div>
</ul>
