<span class="tooltipcontent">
  <span class="span2 align-left">@attributes.cmb.total :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.cmb.total sign=true}}</span>
  <span class="span3"><br></span>
  <span class="span2 align-left">@attributes.cmb.bonus :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.cmb.bonus sign=true}}</span>
  <span class="span2 align-left">+ @attributes.attack.shared :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.attack.shared sign=true}}</span>
  <span class="span2 align-left">+ @attributes.attack.general :</span><span class="span1 align-right"> &nbsp;{{numberFormat system.attributes.attack.general sign=true}}</span>

  <span class="span3"><br>{{localize "PF1.FromSources"}} :</span>
  {{#if (ne @root.system.traits.size "med")}}<span class="span2 align-left">{{localize "PF1.Size"}} :</span><span class="span1 align-right"> &nbsp;{{numberFormat (lookup @root.config.sizeSpecialMods @root.system.traits.size) sign=true }}</span>{{/if}}
  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.shared}}

  {{#if system.attributes.cmbAbility}}<span class="span1 align-left">{{lookup @root.config.abilities system.attributes.cmbAbility}} :</span><span class="span1 align-rightspaced">{{abilityMod system.attributes.cmbAbility @root.rollData 1}}</span><span class="span1 align-right"></span>{{/if}}

  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.attack.general skipLine=true skipLabel=1}}

  {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.cmb.bonus skipLine=true skipLabel=1}}

  {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmb"}}
</span>
