{{!-- Ability Scores --}}
<div class="ability-scores">
    <table class="ability-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Ability"}}</th>
                <th>{{localize "PF1.Total"}}</th>
                <th>{{localize "PF1.Modifier"}}</th>
                <th>{{localize "PF1.Damage"}}</th>
                <th>{{localize "PF1.Drain"}}</th>
                <th>{{localize "PF1.Penalty"}}</th>
            </tr>
        </thead>

        <tbody>
            {{#each system.abilities as |ability id|}}
            <tr class="ability" data-ability="{{id}}">
                {{!-- Ability name --}}
                <th class="tooltip">
                    <span class="tooltipcontent">
                        <span class="span2 align-left">@abilities.{{id}}.total :</span><span class="span1 align-right"> {{ability.total}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.value :</span><span class="span1 align-right"> {{ability.value}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.mod :</span><span class="span1 align-right"> {{ability.mod}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.damage :</span><span class="span1 align-right"> {{ability.damage}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.drain :</span><span class="span1 align-right"> {{ability.drain}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.penalty :</span><span class="span1 align-right"> {{ability.penalty}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.base :</span><span class="span1 align-right"> {{ability.base}}</span>
                        <span class="span2 align-left">@abilities.{{id}}.baseMod :</span><span class="span1 align-right"> {{ability.baseMod}}</span>

                        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=ability.sourceDetails sublabel="PF1.AbilityScore" plain=true}}

                        {{#with (lookup @root.sourceDetails.system.abilities id)}}
                        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=mod sublabel="PF1.Modifier"}}
                        {{/with}}

                        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "abilityChecks." id)}}
                    </span>

                    <a class="ability-name rollable">
                        <i class="fas fa-dice"></i>
                        {{ability.label}}
                    </a>
                </th>

                {{!-- Total --}}
                <td>
                    <span class="text-box direct" name="system.abilities.{{id}}.value" data-dtype="String">{{ability.totalLabel}}</span>
                </td>

                {{!-- Modifier --}}
                <td>{{numberFormat ability.mod decimals=0 sign=true}}</td>

                {{!-- Damage --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.damage" data-dtype="Number">{{#if ability.damage}}{{ability.damage}}{{/if}}</span>
                </td>

                {{!-- Drain --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.drain" data-dtype="Number">{{#if ability.drain}}{{ability.drain}}{{/if}}</span>
                </td>

                {{!-- Penalty --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.userPenalty" data-dtype="Number">{{#if ability.userPenalty}}{{ability.userPenalty}}{{/if}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- Point Buy Calculator (Temporary) --}}
    {{#if @root.inCharacterGeneration}}
    <div class="form-group temporary">
        <button type="button" class="pointbuy-calculator">
            <i class="fa-solid fa-calculator"></i>
            {{localize "PF1.Application.PointBuy.Title"}}
        </button>
        <p class="hint">
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{localize "PF1.Application.PointBuy.SetupHint"}}
        </p>
    </div>
    {{/if}}

    <div class="armor-attributes">
      {{! ACP }}
      <div class="info-box tooltip acp">
        <h5>{{localize "PF1.ACP"}}</h5>
        <span class="value">{{system.attributes.acp.total}}</span>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.acp.total :</span><span class="span1 align-right"> {{system.attributes.acp.total}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.total forceLabel=1 forceCheck=system.attributes.acp.total }}

          {{#if sourceDetails.system.attributes.acp.total.length}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.armorBonus sublabel="PF1.EquipSlots.armor"}}
          {{else}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.armorBonus sublabel="PF1.EquipSlots.armor" bypassLabel=true}}
          {{/if}}

          {{#if (or sourceDetails.system.attributes.acp.total.length sourceDetails.system.attributes.acp.armorBonus.length)}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.shieldBonus sublabel="PF1.EquipSlots.shield"}}
          {{else}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.acp.shieldBonus sublabel="PF1.EquipSlots.shield" bypassLabel=true}}
          {{/if}}
        </div>
      </div>

      {{! Max Dex }}
      <div class="info-box tooltip maxdex">
        <h5>{{localize "PF1.MaxDexShort"}}</h5>
        <span class="value">{{system.attributes.maxDexBonus}}</span>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.maxDexBonus :</span><span class="span1 align-right"> {{system.attributes.maxDexBonus}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.maxDexBonus forceLabel=1 forceCheck=system.attributes.maxDexBonus}}

          {{#if sourceDetails.system.attributes.maxDexBonus.length}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.armorBonus sublabel="PF1.EquipSlots.armor"}}
          {{else}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.armorBonus sublabel="PF1.EquipSlots.armor" bypassLabel=true}}
          {{/if}}

          {{#if (or sourceDetails.system.attributes.maxDexBonus.length sourceDetails.system.attributes.mDex.armorBonus.length)}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.shieldBonus sublabel="PF1.EquipSlots.shield"}}
          {{else}}
              {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.mDex.shieldBonus sublabel="PF1.EquipSlots.shield" bypassLabel=true}}
          {{/if}}
        </div>
      </div>

      {{#if asf}}
      <div class="info-box tooltip asf">
        <h5>{{localize "PF1.ArcaneSpellFailureAbbr"}}</h5>
        <span class="value">{{asf.total}}%</span>
        {{#if asf.sources.length}}
        <div class="tooltipcontent">
            <span class="span3">{{localize "PF1.FromSources"}}:</span>
            {{#each asf.sources}}
            <span class="span2 align-left">{{item.name}} :</span><span class="span1 align-right"> {{asf}}%</span>
            {{/each}}
        </div>
        {{/if}}
      </div>
      {{/if}}
    </div>
</div>

{{!-- Traits --}}
{{> "systems/pf1/templates/actors/parts/actor-traits.hbs"}}
