<div class="summary-header">
  <img class="profile" src="{{actor.img}}" data-edit="img">

  <div class="flexcol basic-info">
    <div class="flexrow name-xp">
      <h1 class="char-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" data-tooltip="PF1.CharacterName">
      </h1>

      {{> "systems/pf1/templates/actors/parts/actor-level.hbs"}}
    </div>

    {{!-- Character Summary --}}
    <div class="character-summary flexrow">
      <div>
        <input type="text" name="system.details.gender" value="{{system.details.gender}}" placeholder="{{localize "PF1.Gender"}}" data-tooltip="PF1.Gender">
      </div>
      <div>
        <input type="text" name="system.details.deity" value="{{system.details.deity}}" placeholder="{{localize "PF1.Deity"}}" data-tooltip="PF1.Deity">
      </div>
      <div>
        <input type="text" name="system.details.age" value="{{system.details.age}}" placeholder="{{localize "PF1.Age"}}" data-tooltip="PF1.Age">
      </div>
      <div>
        <input type="text" name="system.details.height" value="{{system.details.height}}" placeholder="{{localize "PF1.Height"}}" data-tooltip="PF1.Height">
      </div>
      <div>
        <input type="text" name="system.details.weight" value="{{system.details.weight}}" placeholder="{{localize "PF1.Weight"}}" data-tooltip="PF1.Weight">
      </div>

      {{!-- Alignment --}}
      <div class="controls alignment flexrow" data-tooltip="PF1.Alignment">
        {{#if labels.alignment}}<span>{{labels.alignment}}</span>{{else}}<span class="placeholder">{{localize "PF1.Alignment"}}</span>{{/if}}
        <a class="control alignment"><i class="fas fa-cog"></i></a>
      </div>
    </div>

    <div class="flexrow">
      {{! Race }}
      <div class="race item flexrow" {{#if race}}data-item-id="{{race._id}}"{{/if}} data-tooltip="PF1.Race">
        <div class="race item-image rollable" style='background-image: url("{{race.img}}")' data-tooltip="PF1.DisplayInChat">
          {{#unless race}}{{localize "PF1.Race"}}{{/unless}}
        </div>

        <div class="item-controls flexcol">
          {{#if owner}}
          {{#if race}}
          <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          {{else}}
          <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-type="race"><i class="fas fa-plus"></i></a>
          <a data-action="compendium" data-action-target="races" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
          {{/if}}
          {{/if}}
        </div>

        <div class="info">
          {{#if race}}
          <h4>{{race.name}}</h4>
          <div class="tag-list">
            <span class="tag type3">{{lookup config.creatureTypes race.system.creatureType}}</span>
            {{#each race.system.subTypes as |v|}}
            <span class="tag">{{v}}</span>
            {{/each}}
          </div>
          {{/if}}
        </div>
      </div>
      <div class="flexrow item-list misc-header-items">
        {{!-- Rest --}}
        <div class="actor-quick-actions">
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Header Attributes --}}
<div class="attributes flexrow">
  {{#unless useWoundsAndVigor}}
  <div class="info-box-header health-details tooltip">
    <h3>{{localize "PF1.HitPoints"}}</h3>

    <div class="info-box-joined tooltip">
      <div class="info-box current">
        <h5>{{localize "PF1.Current"}}</h5>
        <span class="value text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
      </div>
      <div class="info-box maximum">
        <h5>{{localize "PF1.Maximum"}}</h5>
        <span class="value text-box readonly hp-max">{{system.attributes.hp.max}}</span>
      </div>

      {{! Placed here to avoid :last-of-type mismatch}}
      <div class="tooltipcontent">
        <span class="span2 align-left">@attributes.hp.value :</span><span class="span1 align-right"> {{system.attributes.hp.value}}</span>
        <span class="span2 align-left">@attributes.hp.max :</span><span class="span1 align-right"> {{system.attributes.hp.max}}</span>
        <span class="span2 align-left">@attributes.hp.temp :</span><span class="span1 align-right"> {{system.attributes.hp.temp}}</span>
        <span class="span2 align-left">@attributes.hp.nonlethal :</span><span class="span1 align-right"> {{system.attributes.hp.nonlethal}}</span>

        {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.hp.max }}
      </div>

      <div class="info-box temp">
        <h5>{{localize "PF1.TempShort"}}</h5>
        <span class="value text-box direct allow-relative hp-temp-input" name="system.attributes.hp.temp" data-dtype="Number">{{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{/if}}</span>
      </div>
      <div class="info-box nonlethal">
        <h5>{{localize "PF1.Nonlethal"}}</h5>
        <span class="value text-box direct allow-relative hp-nonlethal-input" name="system.attributes.hp.nonlethal" data-dtype="Number">{{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{/if}}</span>
      </div>
    </div>
  </div>
  {{else}}
  {{!-- Wounds & Vigor --}}
  <div class="wounds-vigor health-details flexrow">
    {{!-- Vigor --}}
    <div class="info-box-header vigor">
      <h3>{{localize "PF1.Vigor"}}</h3>
      <div class="info-box-joined health-details vigor tooltip">

        <div class="info-box current">
          <h5>{{localize "PF1.Current"}}</h5>
          <span class="value text-box direct allow-relative vigor-current-input" name="system.attributes.vigor.value" data-dtype="Number">
            {{system.attributes.vigor.value}}
          </span>
        </div>

        <div class="info-box current">
          <h5>{{localize "PF1.Maximum"}}</h5>
          <span class="value text-box readonly">{{system.attributes.vigor.max}}</span>
        </div>

        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.vigor.min :</span><span class="span1 align-right"> {{system.attributes.vigor.min}}</span>
          <span class="span2 align-left">@attributes.vigor.value :</span><span class="span1 align-right"> {{system.attributes.vigor.value}}</span>
          <span class="span2 align-left">@attributes.vigor.max :</span><span class="span1 align-right"> {{system.attributes.vigor.max}}</span>
          <span class="span2 align-left">@attributes.vigor.temp :</span><span class="span1 align-right"> {{system.attributes.vigor.temp}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.vigor.max }}
        </div>

        <div class="info-box current">
          <h5>{{localize "PF1.TempShort"}}</h5>
          <span class="value text-box direct allow-relative vigor-temp-input" name="system.attributes.vigor.temp" data-dtype="Number">
            {{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}
          </span>
        </div>
      </div>
    </div>

    {{!-- Wounds --}}
    <div class="info-box-header wounds">
      <h3>{{localize "PF1.Wounds"}}</h3>
      <div class="info-box-joined health-details wounds tooltip">

        <div class="info-box current">
          <h5>{{localize "PF1.Current"}}</h5>
          <span class="value text-box direct allow-relative wounds-current-input" name="system.attributes.wounds.value" data-dtype="Number">
            {{system.attributes.wounds.value}}
          </span>
        </div>

        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.wounds.min :</span><span class="span1 align-right"> {{system.attributes.wounds.min}}</span>
          <span class="span2 align-left">@attributes.wounds.value :</span><span class="span1 align-right"> {{system.attributes.wounds.value}}</span>
          <span class="span2 align-left">@attributes.wounds.max :</span><span class="span1 align-right"> {{system.attributes.wounds.max}}</span>

          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.wounds.max }}
        </div>

        <div class="info-box current">
          <h5>{{localize "PF1.Maximum"}}</h5>
          <span class="value text-box readonly">{{system.attributes.wounds.max}}</span>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}

  {{! Movement }}
  <div class="info-box-header speed-details flexcol">
    <h3>{{localize "PF1.Movement.Speed"}}</h3>
    <div class="info-box-joined">
      <div class="info-box land tooltip">
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.land.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.land.total}} {{@root.units.distance.tactical}}</span>
          {{#if system.attributes.speed.land.total}}
          <span class="span2 align-left">@attributes.speed.land.overland :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.land.overland}} {{@root.units.distance.overland}}</span>
          {{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.base forceLabel=1 isDistance=true skipLabel=0}}

          {{#if sourceDetails.system.attributes.speed.land.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.total skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.land.total skipLabel=0 isDistance=true}}
          {{/if}}
        </div>
        <h5>{{localize "PF1.Movement.Mode.land"}}</h5>
        <span class="value text-box direct speed" name="system.attributes.speed.land.base" data-dtype="Number">
          {{#if system.attributes.speed.land.total}}{{convertDistance system.attributes.speed.land.total}}{{/if}}
        </span>
      </div>
      <div class="info-box climb tooltip">
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.climb.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.climb.total}} {{@root.units.distance.tactical}}</span>
          {{#if system.attributes.speed.climb.total}}
          <span class="span2 align-left">@attributes.speed.climb.overland :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.climb.overland}} {{@root.units.distance.overland}}</span>
          {{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.base forceLabel=1 isDistance=true skipLabel=0}}

          {{#if sourceDetails.system.attributes.speed.climb.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.total skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.climb.total skipLabel=0 isDistance=true}}
          {{/if}}
        </div>
        <h5>{{localize "PF1.Movement.Mode.climb"}}</h5>
        <span class="value text-box direct speed" name="system.attributes.speed.climb.base" data-dtype="Number">
          {{#if system.attributes.speed.climb.total}}{{convertDistance system.attributes.speed.climb.total}}{{/if}}
        </span>
      </div>
      <div class="info-box swim tooltip">
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.swim.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.swim.total}} {{@root.units.distance.tactical}}</span>
          {{#if system.attributes.speed.swim.total}}
          <span class="span2 align-left">@attributes.speed.swim.overland :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.swim.overland}} {{@root.units.distance.overland}}</span>
          {{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.base forceLabel=1 isDistance=true skipLabel=0}}

          {{#if sourceDetails.system.attributes.speed.swim.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.total skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.swim.total skipLabel=0 isDistance=true}}
          {{/if}}
        </div>

        <h5>{{localize "PF1.Movement.Mode.swim"}}</h5>
        <span class="value text-box direct speed" name="system.attributes.speed.swim.base" data-dtype="Number">
          {{#if system.attributes.speed.swim.total}}{{convertDistance system.attributes.speed.swim.total}}{{/if}}
        </span>
      </div>
      <div class="info-box burrow tooltip">
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.burrow.total :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.burrow.total}} {{@root.units.distance.tactical}}</span>
          {{#if system.attributes.speed.burrow.total}}
          <span class="span2 align-left">@attributes.speed.burrow.overland :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.burrow.overland}} {{@root.units.distance.overland}}</span>
          {{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.base forceLabel=1 isDistance=true skipLabel=0}}

          {{#if sourceDetails.system.attributes.speed.burrow.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.total skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.burrow.total skipLabel=0 isDistance=true}}
          {{/if}}
        </div>
        <h5>{{localize "PF1.Movement.Mode.burrow"}}</h5>
        <span class="value text-box direct speed" name="system.attributes.speed.burrow.base" data-dtype="Number">
          {{#if system.attributes.speed.burrow.total}}{{convertDistance system.attributes.speed.burrow.total}}{{/if}}
        </span>
      </div>

      {{! Fly }}
      <div class="info-box fly tooltip">
        <h5>{{localize "PF1.Movement.Mode.fly"}}</h5>
        <span class="value text-box direct speed" name="system.attributes.speed.fly.base" data-dtype="Number">
          {{#if system.attributes.speed.fly.total}}{{convertDistance system.attributes.speed.fly.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.fly.total :</span><span class="span1 align-right"> {{system.attributes.speed.fly.total}} {{@root.units.distance.tactical}}</span>
          {{#if system.attributes.speed.fly.total}}
          <span class="span2 align-left">@attributes.speed.fly.overland :</span><span class="span1 align-right"> {{convertDistance system.attributes.speed.fly.overland}} {{@root.units.distance.overland}}</span>
          {{/if}}
          {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.base forceLabel=1 isDistance=true skipLabel=0}}

          {{#if sourceDetails.system.attributes.speed.fly.base.length}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.total skipLabel=1 skipLine=true isDistance=true}}
          {{else}}
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.speed.fly.total skipLabel=0 isDistance=true}}
          {{/if}}
        </div>
      </div>

      <div class="info-box maneuverability-details tooltip">
        <h5>{{localize "PF1.Movement.FlyManeuverability.Abbr"}}</h5>
        <div class="tooltipcontent">
          <span class="span2 align-left">@attributes.speed.fly.maneuverability :</span><span class="span1 align-right"> "{{system.attributes.speed.fly.maneuverability}}"</span>
        </div>
        <span class="value">
          <select name="system.attributes.speed.fly.maneuverability">
            {{selectOptions config.flyManeuverabilities selected=system.attributes.speed.fly.maneuverability}}
          </select>
        </span>
      </div>
    </div>
  </div>
</div>

{{!-- Footer --}}

<section class="subdetails-body">
  <div class="quick-info">
    <div class="flexcol">
      {{!-- Display Defenses --}}
      <li class="generic-defenses flexrow" data-drag="defenses">
        <h3>
          <i class="fa-solid fa-dice-d20 rollable"></i>
          {{localize "PF1.Defenses"}}
        </h3>
      </li>

      {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

      <div class="combat-stats">
        {{! BAB }}
        <div class="info-box attribute bab tooltip" data-attribute="bab">
          <h5><a class="rollable"><i class="fas fa-dice"></i> <span>{{localize "PF1.BABAbbr"}}</span></a></h5>
          <span class="value">{{numberFormat system.attributes.bab.total sign=true}}</span>
          <span class="tooltipcontent">
            <span class="span2 align-left">@attributes.bab.total :</span><span class="span1 align-right"> {{system.attributes.bab.total}}</span>
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.bab.total }}
          </span>
        </div>

        {{! CMB }}
        <div class="info-box attribute cmb tooltip" data-attribute="cmb">
          <h5><a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a></h5>
          <span class="value">{{numberFormat system.attributes.cmb.total decimals=0 sign=true}}</span>
          {{> "systems/pf1/templates/actors/parts/actor-cmb.hbs"}}
        </div>

        {{! Initiative }}
        <div class="info-box attribute initiative tooltip" data-attribute="initiative">
          <h5><a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a></h5>
          <span class="value">{{numberFormat system.attributes.init.total sign=true}}</span>
          <span class="tooltipcontent">
            <span class="span2 align-left">@attributes.init.total :</span><span class="span1 align-right"> {{system.attributes.init.total}}</span>
            {{> "systems/pf1/templates/actors/parts/actor-source-details.hbs" target=sourceDetails.system.attributes.init.total }}

            {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
          </span>
        </div>
      </div>
    </div>

    {{!-- Quick Actions --}}
    <h2>{{localize "PF1.QuickActions"}}</h2>

    <ol class="quick-actions">
      {{#each quickActions}}
      <li class="item" data-item-id="{{id}}" data-type="{{type}}" data-tooltip="{{name}}">
        <img src="{{img}}">

        {{#if isCharged}}
        <charges>
        {{~#if recharging~}}
        <span class='recharge'>+{{uses}}</span>
        {{~else~}}
        <span class='remaining'>{{uses}}</span>
          {{~#if max~}}
          <span class='delimiter' >/</span ><span class='max'>{{max}}</span>
          {{~/if~}}
        {{~/if~}}
        </charges>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Classes --}}
  <div class="classes-body">
    <h2>{{localize "PF1.ClassPlural"}}</h2>

    <ol class="item-groups-list">
      <ol class="item-list" data-type="class">
        <li class="item-list-header flexrow">
          <div class="item-name">
            <h3>{{localize "TYPES.Item.class"}}</h3>
          </div>

          <div class="item-detail item-feat-level"><span>{{localize "PF1.Level"}}</span></div>

          {{#if levelUp}}
            <div class="item-detail item-button"><span>{{localize "PF1.Action"}}</span></div>
          {{/if}}

          {{#if owner}}
          <div class="item-controls">
            <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-type="class">
              <i class="fas fa-plus"></i>
            </a>
            <a data-action="compendium" data-action-target="classes" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
          </div>
          {{/if}}
        </li>

        {{#if classes.length}}
        {{#each classes as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item.id}}">
          <div class="item-name rollable">
            <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
            <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-feat-level tooltip">
            <span>{{localize "PF1.Level"}} {{item.level}}</span>
            <span class="tooltipcontent"><span class="span2">@classes.{{item.tag}}.level :</span><span class="span1"> {{item.level}}</span></span>
          </div>

          {{#if ../levelUp}}
            <div class="item-detail item-button">
              <button type="button" class="level-up" data-item-id="{{item.id}}">{{localize "PF1.LevelUp.Action"}}</button>
            </div>
          {{/if}}

          {{#if @root.owner}}
          <div class="item-controls">
            <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
        {{else}}
        <div class="flexcol info">
          <span>
            {{{labels.firstClass}}}
          </span>
        </div>
        {{/if}}
      </ol>
    </ol>
  </div>
</section>
