.pf1-tooltip {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  pointer-events: none;
  &.sticky {
    pointer-events: auto;
  }

  z-index: 1000;

  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background: url("../../../ui/denim075.png") repeat;
  color: #f0f0e0;

  .controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    z-index: 1;

    button {
      pointer-events: auto;
      flex: 0 0 32px;
      width: 32px;
      height: 28px;
    }
  }

  .portrait {
    display: flex;
    justify-content: space-around;

    img {
      border: none;
    }
  }

  .conditions,
  .buffs,
  .held-items {
    display: grid;
    grid-template-columns: auto auto;

    .condition,
    .held-item {
      flex: 0 0 50%;
    }
    .buff {
      flex: 0 0 100%;
    }

    .condition,
    .buff,
    .held-item {
      display: flex;
      align-items: center;
      min-width: 220px;

      img {
        width: 16px;
        height: 16px;
      }

      span {
        margin-left: 4px;
      }
    }
  }
}
