/**
 * Styles common to all sheets.
 */

.pf1.sheet {
  .lockable {
    &.hide-contents {
      > * {
        display: none;
      }
    }
  }

  .temporary {
    .hint {
      text-align: center;
    }
  }

  // Prevent font awesome icons eating pointer events in actions
  a > i {
    pointer-events: none;
  }
}
