<div class="dice-tooltip">
  {{#each parts}}
  <section class="tooltip-part">
    <div class="dice">
      <header class="part-header flexrow">
        <span class="part-formula">{{formula}}</span>
        {{#if flavor}}<span class="part-flavor">{{flavor}}</span>{{/if}}
        <span class="part-total">{{total}}</span>
      </header>
      <ol class="dice-rolls">
      {{#each rolls}}
        <li class="roll {{classes}}">{{{result}}}</li>
      {{/each}}
      </ol>
    </div>
  </section>
  {{/each}}

  {{#each numericParts}}
  <section class="tooltip-part">
    <div class="dice">
      <header class="part-header flexrow">
        <span class="part-formula"></span>
        {{#if flavor}}<span class="part-flavor">{{flavor}}</span>{{/if}}
        <span class="part-total">
          {{#if (gte total 0)}}<span class="part-prefix">+</span>{{/if}}
          {{~total~}}
        </span>
      </header>
    </div>
  </section>
  {{/each}}
</div>
