{{!-- Activation Cost --}}
<div class="form-group input-select activation-cost">
  <label>{{localize "PF1.ActivationCost"}}</label>
  <div class="form-fields">
    <input type="number" name="activation{{#if unchainedActionEconomy}}.unchained{{/if}}.cost"
      value="{{@root.activation.cost}}" data-dtype="Number" placeholder="1" min="0">
    <select name="activation{{#if unchainedActionEconomy}}.unchained{{/if}}.type">
      {{selectOptions @root.abilityActivationTypes selected=@root.activation.type}}
    </select>
  </div>
</div>

<hr>
{{#if isSpell}}
<div class="form-group">
  <label>{{localize "PF1.SpellEffect"}}</label>
  <div class="form-fields">
    <input type="text" name="spellEffect" value="{{data.spellEffect}}" placeholder="{{localize "PF1.SpellEffectExample"}}">
  </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.Target"}}</label>
  <div class="form-fields">
    <input type="text" name="target.value" value="{{data.target.value}}">
  </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
  <label>{{localize "PF1.Range"}}</label>
  <div class="form-fields">
    {{#if canInputRange}}<input class="formula" type="text" name="range.value" value="{{data.range.value}}" placeholder="{{#unless isSpell}}{{localize "PF1.Formula"}}{{/unless}}">{{/if}}
    <select name="range.units">
      {{selectOptions distanceUnits selected=data.range.units blank=""}}
    </select>
  </div>
</div>

{{!-- Only show for reach, feet, miles, and See Text --}}
{{#if minRangeAvailable}}
{{!-- Minimum Range --}}
<div class="form-group input-select">
  <label>{{localize "PF1.MinRange"}}</label>
  <div class="form-fields">
    {{#if canInputMinRange}}<input class="formula" type="text" name="range.minValue" value="{{data.range.minValue}}" placeholder="{{#unless isSpell}}{{localize "PF1.Formula"}}{{/unless}}">{{/if}}
    <select name="range.minUnits">
      {{selectOptions distanceUnits selected=data.range.minUnits blank=""}}
    </select>
  </div>
</div>
{{/if}}

{{!-- Range Increments --}}
{{#if showMaxRangeIncrements}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.MaximumRangeIncrements"}}</label>
  <div class="form-fields">
    <input type="text" data-dtype="Number" name="range.maxIncrements" value="{{data.range.maxIncrements}}">
  </div>
</div>
{{/if}}

{{!-- Area --}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.Area"}}</label>
  <div class="form-fields">
    <input type="text" name="area" value="{{data.area}}">
  </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select duration">
  <label>{{localize "PF1.Duration"}}</label>
  <div class="form-fields">
    {{#if canInputDuration}}
    <input class="{{#if (eq data.duration.units "spec")}}text-input{{else}}formula{{/if}}" type="text" name="duration.value" value="{{data.duration.value}}" placeholder="{{localize "PF1.Formula"}}">
    {{/if}}
    <select name="duration.units">
      {{selectOptions @root.config.timePeriods selected=data.duration.units blank=""}}
    </select>
  </div>
</div>

<div class="form-group">
  <label></label>
  <div class="form-fields">
    <label class="checkbox duration-concentration">
      <input type="checkbox" name="duration.concentration" {{checked data.duration.concentration}}>
      {{localize "PF1.Concentration"}}
    </label>
    <label class="checkbox duration-dismissable">
      <input type="checkbox" name="duration.dismiss" {{checked data.duration.dismiss}}>
      {{localize "PF1.Dismissable"}}
    </label>
  </div>
</div>

{{!-- Ammunition --}}
{{#if canUseAmmo}}
<h3 class="form-header">{{localize "PF1.Ammunition"}}</h3>

<div class="form-group ammo-type">
  <label>{{localize "PF1.AmmunitionType"}}</label>
  <div class="form-fields">
    <select name="ammo.type">
    {{#select data.ammo.type}}
      <option value="none">{{localize "PF1.None"}}</option>
      {{#if inheritedAmmoType}}
      <option value="">{{localize "PF1.InheritAs" inherited=(lookup @root.config.ammoTypes inheritedAmmoType)}}</option>
      {{/if}}
      {{#each @root.config.ammoTypes as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
    {{/select}}
    </select>
  </div>
</div>

{{#if usesAmmo}}
<div class="form-group ammo-cost">
  <label>{{localize "PF1.AmmunitionPerAttack"}}</label>
  <div class="form-fields">
    <input type="number" name="ammo.cost" data-dtype="Number" value="{{data.ammo.cost}}" placeholder="1">
  </div>
</div>
{{/if}}
{{/if}}

{{!-- Uses and charges --}}
<h3 class="form-header">{{localize "PF1.LimitedUses.Label"}}</h3>
<h4 class="form-header">{{localize "PF1.Item"}}</h4>
<div class="form-group">
  <label>
    {{#if usesSpellPoints}}
    {{localize "PF1.SpellPointsCost"}}
    {{else if isSpell}}
    {{localize "PF1.CastsPerDayUsedFormula"}}
    {{else}}
    {{localize "PF1.ChargeCost"}}
    {{/if}}
  </label>
  <div class="form-fields">
    {{#if usesSpellPoints}}
    <input class="formula" type="text" name="uses.spellPointCost" placeholder="{{defaultChargeFormula}}" value="{{data.uses.spellPointCost}}">
    {{else}}
    <input class="formula" type="text" name="uses.autoDeductChargesCost" placeholder="{{defaultChargeFormula}}" value="{{data.uses.autoDeductChargesCost}}">
    {{/if}}
  </div>
</div>

<h4 class="form-header">{{localize "PF1.Action"}}</h4>
<div class="form-group stacked">
  <div class="form-group uses-per">
    <div class="form-fields">
      {{#if isSelfCharged}}
      <input type="text" name="uses.self.value" value="{{data.uses.self.value}}" data-dtype="Number">
      <span class="sep"> / </span>
      <input type="text" value="{{data.uses.self.max}}" disabled data-dtype="Number">
      {{/if}}
      <select name="uses.self.per">
        <option value="">{{localize "PF1.Unlimited"}}</option>
        {{selectOptions config.limitedUsePeriods selected=data.uses.self.per}}
      </select>
    </div>
  </div>

  {{#if showMaxChargeFormula}}
  <div class="form-group uses-per">
    <input class="formula" type="text" name="uses.self.maxFormula" value="{{data.uses.self.maxFormula}}" placeholder="{{localize "PF1.MaximumUsesFormula"}}">
  </div>
  {{/if}}
</div>
