.pf1.sheet.content-source-editor {
  min-width: 320px;

  form {
    header {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.3em;

      nav {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        gap: 3px;

        cursor: pointer;

        .nav-entry {
          flex: 1;
          white-space: nowrap;

          padding: 0 0.3em;

          font-size: var(--font-size-16);
          line-height: 1.5;

          border-radius: 0.5em 0.5em 0 0;

          &.source {
            background-color: var(--pf1-bg-dark-0);
            text-align: center;
            font-weight: bold;

            &.active {
              background-color: var(--pf1-bg-dark-1);
            }
          }

          > a {
            > i {
              pointer-events: none;
            }

            &.control {
              flex: 0 fit-content;
            }
          }
        }
      }

      a.control {
        &.disabled {
          opacity: 0.6;
        }

        &[data-action="add"] {
          flex: 0;
          font-size: var(--font-size-16);
          line-height: 1.5;
          white-space: nowrap;
        }
      }
    }

    section {
      > .tab.source {
        width: 100%;
      }
    }

    :is(input, select) {
      border: 1px solid @colorTan;
      background: rgba(0, 0, 0, 0.05);
      color: var(--color-text-dark-primary);

      &:read-only {
        border: 1px solid var(--color-border-light-secondary);
      }
    }

    .abbr {
      flex: 0 3em;
    }
  }
}

// Tooltip
#tooltip.pf1.source {
  p:last-child {
    margin-bottom: 0;
  }
}
