/* ----------------------------------------- */
/* Level Up Dialog
/* ----------------------------------------- */

.pf1.level-up {
  min-width: 820px;
  min-height: 440px;

  form {
    display: grid;
    grid-template-columns: 16em 2fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "sidebar nav"
      "sidebar main"
      "footer footer";
    gap: 3px;
    overflow: hidden;

    > nav {
      gap: 1px;
      grid-area: nav;

      > .item {
        flex: 1;

        font-family: "Modesto Condensed Bold", "Signika", "Palatino Linotype", serif;
        font-variant: small-caps;
        font-size: var(--font-size-24);

        justify-content: center;
        text-align: center;

        padding: 0 3px;
        background: rgba(155, 155, 155, 0.3);
        border-radius: 0.5em 0.5em 0 0;

        &.active {
          background-color: rgba(155, 155, 155, 0.5);
        }
      }
    }

    > footer {
      grid-area: footer;
    }

    > .summary {
      grid-area: sidebar;

      display: flex;
      flex-flow: column nowrap;
      gap: 0.3em;

      h3 {
        margin: 0 0 3px;
      }

      .disabled {
        opacity: 0.6;
      }

      .value {
        color: darkgreen;
      }

      h4 {
        margin: 0;
      }
    }

    h2 {
      font-family: "Modesto Condensed Bold", "Signika", "Palatino Linotype", serif;
      font-variant: small-caps;
      font-size: var(--font-size-24);
      margin: 0 0 3px;
      padding: 0 0.2em;

      background-color: var(--pf1-bg-dark-1);
    }

    ul.choices {
      flex: 1;

      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-flow: row wrap;
      gap: 1px;

      li {
        flex: 1;
        padding: 0.2em 0.5em;
        border: 1px solid transparent;

        input[type="radio"] {
          display: none;
        }

        border: 1px solid transparent;
        border-radius: 0.3em;

        &.choice {
          cursor: pointer;
          > label {
            cursor: pointer;
          }

          flex: 1 calc(50% - 1px);

          h3 {
            display: flex;
            gap: 0.3em;
          }

          img {
            flex: 0 24px;
            width: 24px;
            height: 24px;
          }

          &:hover {
            border: 1px solid gray;
            background: rgba(155, 155, 155, 0.1);
          }
        }

        h3 {
          font-size: var(--font-size-16);
          line-height: 1.5;
          position: relative;

          .value {
            position: absolute;
            right: 0;
            color: green;
          }
        }

        &:has(input:checked) {
          background: rgba(155, 155, 155, 0.2);
          border: 1px dashed var(--color-border-light-tertiary);

          h3::after {
            content: " ✔";
            color: green;
          }
        }

        &:has(input:disabled) {
          opacity: 0.6;
        }
      }
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1 100%;

      display: flex;
      flex-flow: column nowrap;
      gap: 1px;

      > .item {
        display: flex;
        flex-flow: row nowrap;
        gap: 3px;

        cursor: pointer;

        > img {
          flex: 0 24px;
          width: 24px;
          height: 24px;
        }
      }
    }

    > section {
      display: flex;
      flex-flow: column nowrap;
      gap: 3px;
      overflow: hidden auto;

      h2,
      h3 {
        flex: 1 100%;
      }

      .summary label {
        font-weight: bold;
      }

      .segment {
        &.ability-score {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-flow: row wrap;
            gap: 1px;

            .ability-score {
              display: flex;
              flex-flow: row nowrap;
              flex: 1 33%;
              gap: 0.5em;

              align-items: center;

              .name {
                flex: 1;
                text-align: right;
              }

              .value {
                display: flex;
                flex-flow: row nowrap;
                flex: 0 1em;
                text-align: center;

                font-weight: bold;

                &.disabled {
                  color: @colorBeige;
                }
              }

              .name,
              .value {
                font-size: var(--font-size-16);
              }

              .controls {
                display: flex;
                flex-flow: column nowrap;
                gap: 0;

                .operator {
                  flex: 0;

                  &.disabled {
                    pointer-events: none;
                  }
                }
              }

              &.enhanced {
                span {
                  color: steelblue;
                }
              }
            }
          }

          footer {
            display: flex;
            flex-direction: column;
            border-top: 1px solid @colorCrimson;
            align-items: center;

            .points-left {
              font-size: var(--font-size-16);
              line-height: 1.5;

              > .ready {
                color: green;
              }
            }
          }
        }

        &.fcb {
          .notes {
            border: 1px dashed var(--color-border-light-tertiary);
            border-radius: 0.5em;
            padding: 0 0.3em;
          }
        }
      }
    }

    > footer {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 3em;
      gap: 0.3em;
      justify-content: center;

      padding: 0.4em;

      border-top: @borderGroove;

      &.buttons {
        > .padding {
          flex: 1;
        }

        > button {
          flex: 1;

          &:disabled {
            opacity: 0.6;
          }
        }

        > select {
          flex: 0;
        }

        > select,
        > button {
          line-height: 2;
          height: unset; // Undo Foundry's styling
        }
      }
    }
  }
}
