.pf1.item.sheet {
  .window-content {
    .tab {
      // Container contents
      &.contents {
        // Remove excess scrolling
        overflow: hidden;

        // Scroll actual contents
        > section {
          overflow: hidden scroll;
        }
      }
    }
  }
}
