<div class="form-group stacked">
  <label>
    {{#if label}}
      {{localize label}}
    {{else}}
      {{localize "PF1.AttackAlignment"}}
    {{/if}}</label></label>
  <div class="form-group stacked">
    {{#with alignmentTypes}}
      {{#each choices as |label choice|}}
      <label class="checkbox"
        {{#if ../../isAction}}
        data-tooltip=
          {{#if (ne (lookup ../values choice) null)}}
            "PF1.DamageAlignment.Override"
          {{else}}
            "PF1.DamageAlignment.Inherit"
          {{/if}}
        {{/if}}>
        <input type="checkbox" class="alignmentCheckbox{{#if ../../isAction}} actionCheckbox{{/if}}" data-type="{{choice}}" name="{{../../reference}}.{{choice}}" {{checked (eq (lookup ../values choice) true)}}/>
        {{label}}
      </label>
      {{/each}}
    {{/with}}
  </div>
</div>