<div class="form-group weapon-groups">
  <label>{{localize "PF1.WeaponGroups"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each weaponGroups.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-for="system.weaponGroups" data-options="weaponGroups"><i class="fas fa-edit"></i></a>
  </div>
</div>
