{{#if @root.canUseAmmo}}
{{!-- Ammunition Type --}}
<div class="form-group">
  <label>{{localize "PF1.AmmunitionType"}}</label>
  <div class="form-fields">
    <select name="system.ammo.type">
      <option value="">{{localize "PF1.None"}}</option>
      {{selectOptions @root.config.ammoTypes selected=@root.system.ammo.type}}
    </select>
  </div>
</div>

{{!-- Default Ammunition --}}
{{#if @root.system.ammo.type}}
<div class="form-group ammunition">
  <label>{{localize "PF1.DefaultAmmo"}}</label>
  <div class="form-fields item-link{{#if @root.invalidDefaultAmmo}} wrong-type{{/if}}" data-item-id="{{@root.defaultAmmo.id}}">
    {{#if @root.defaultAmmo}}
    <img class="image" src="{{@root.defaultAmmo.img}}" width="24" height="24">
    {{/if}}
    <label class="item-name">{{@root.defaultAmmo.name}}</label>
    {{#if @root.invalidDefaultAmmo}}
    <i class="fa-solid fa-triangle-exclamation" data-tooltip="PF1.InvalidAmmoType"></i>
    {{/if}}
    <a class="item-selector" data-type="loot" data-sub-type="ammo" data-kind="{{@root.system.ammo.type}}"
      data-name="flags.pf1.defaultAmmo" data-selected="{{@root.defaultAmmo.id}}" data-empty=true data-label="PF1.Ammunition">
      <i class="fas fa-edit"></i>
    </a>
  </div>
</div>
{{/if}}
{{/if}}
