<div class="form-group">
  <label>{{localize "PF1.Size"}}</label>
  <div class="form-fields">
    <select name="system.size">
      {{selectOptions config.actorSizes selected=system.size}}
    </select>
    {{#if allowAutoResizing}}
    <label class="resizing checkbox">
      <input type="checkbox" name="system.resizing" data-dtype="Boolean" {{checked system.resizing}}> {{localize "PF1.Resizing"}}
    </label>
    {{/if}}
  </div>
</div>
