<section class="inventory-body">
  <ol class="item-groups-list">
  {{#each sections as |section sid|}}
    <ol class="item-list">
      <li class="item-list-header flexrow">
        <div class="item-name">
          <h3>{{section.label}}</h3>
        </div>

        {{#if section.hasActions}}<div class="item-detail item-actions"><i class="icon-pf icon-gears" data-tooltip="PF1.ActionPlural"></i></div>{{/if}}

        {{#if section.showValue}}
        <div class="item-detail item-value"><i class="icon-pf icon-coins" data-tooltip="PF1.Value"></i></div>
        {{/if}}
        <div class="item-detail item-weight"><i class="icon-pf icon-weight" src="systems/pf1/icons/actions/weight.svg" data-tooltip="PF1.ItemWeight"></i></div>
        {{#if @root.isGM}}
        <div class="item-detail item-identified"><i class="icon-pf icon-quill-ink" data-tooltip="PF1.Identified"></i></div>
        {{/if}}
        <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" data-tooltip="PF1.ChargePlural"></i></div>

        {{#if @root.owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" data-tooltip="PF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          <a data-action="compendium" data-action-target="items" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
          {{/if}}
        </div>
        {{/if}}
      </li>

      {{#each section.items}}
      <li class="item flexrow{{#if item.disabled}} disabled{{/if}}" data-item-id="{{id}}">
        <div class="item-name">
          <div class="item-image rollable" style='background-image: url("{{img}}")' data-tooltip="PF1.DisplayInChat"></div>
          <h4 class="rollable">
            {{~#if isStack}}({{system.quantity}}) {{/if}}
            {{name~}}
          </h4>
        </div>

        {{#if section.hasActions}}
        <div class="item-detail item-actions">
          <div class="item-action">
            {{#unless showUnidentifiedData}}
            {{#if hasAction}}
            <a class="item-control item-action action roll" data-tooltip="PF1.UseItem">
              <i class="fa-solid fa-dice-d20"></i>
            </a>
            {{/if}}
            {{/unless}}
          </div>
        </div>
        {{/if}}

        {{#if section.showValue}}
        <div class="item-detail item-value">
          <span>{{price}} {{localize "PF1.CurrencyGP"}}</span>
        </div>
        {{/if}}

        <div class="item-detail item-weight">
          <span{{#if (eq item.document.system.weight.total 0)}} class="null"{{/if}}>{{system.weight.converted.total}} {{@root.units.weight}}</span>
        </div>

        {{#if @root.isGM}}
        <div class="item-detail item-identified">
          <a class="item-control item-identify"><span>{{{labels.identified}}}</span></a>
        </div>
        {{/if}}

        <div class="item-detail item-uses flexrow {{#if (and @root.actor isCharged)}}tooltip{{/if}}">
          {{#if isCharged}}
          <input type="text" class="select-on-click blended" data-wheel-step="1" value="{{system.uses.value}}" data-dtype="Number">
          <span class="sep"> / </span>
          <span class="max">{{system.uses.max}}</span>
          {{#if @root.actor}}
          <span class="tooltipcontent">
            <span class="span2 align-left">@resources.{{tag}}.value :</span><span class="span1 align-right"> {{system.uses.value}}</span>
            <span class="span2 align-left">@resources.{{tag}}.max :</span><span class="span1 align-right"> {{system.uses.max}}</span>
          </span>
          {{/if}}
          {{/if}}
        </div>

        {{#if @root.owner}}
        <div class="item-controls">
          <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
          <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
          <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
          <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
          {{#if @root.owned}}<a class="item-control item-take" data-tooltip="PF1.Containers.Contents.Take"><i class="fas fa-arrow-alt-circle-down"></i></a>{{/if}}
          <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  {{/each}}
  </ol>
</section>
