<h4 class="form-header">{{localize "PF1.ProficienciesGranted"}}</h4>

<div class="form-group weapon-proficiencies">
  <label>{{localize "PF1.TraitWeaponProf"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each weaponProf.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="weaponProficiencies" data-for="system.weaponProf"><i class="fas fa-edit"></i></a>
  </div>
</div>

<div class="form-group armor-proficiencies">
  <label>{{localize "PF1.TraitArmorProf"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each armorProf.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="armorProficiencies" data-for="system.armorProf"><i class="fas fa-edit"></i></a>
  </div>
</div>

<div class="form-group languages">
  <label>{{localize "PF1.Languages"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each languages.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="languages" data-for="system.languages"><i class="fas fa-edit"></i></a>
  </div>
</div>
