{{#unless showUnidentifiedData}}
<h3 class="form-header">{{localize "PF1.Aura.Single"}}</h3>

{{!-- Caster Level --}}
<div class="form-group" data-tooltip="@item.cl : {{system.cl}}">
  <label class="header">{{localize "PF1.CasterLevel"}}</label>
  <div class="form-fields">
    <input type="number" class="select-on-click" name="system.cl" value="{{system.cl}}" placeholder="{{localize "PF1.CasterLevel"}}" data-dtype="Number">
  </div>
</div>

{{!-- Aura --}}
<div class="form-group" data-tooltip="@item.auraStrength : {{auraStrength}}">
  <label class="header">{{localize "PF1.School"}}</label>
  {{#if system.aura.custom}}
  <div class="form-fields">
    <label class="aura-strength">{{auraStrength_name}}</label>
    <input type="text" name="system.aura.school" value="{{system.aura.school}}" placeholder="{{localize "PF1.Aura.Single"}}">
    <label class="checkbox">
      <input type="checkbox" name="system.aura.custom" {{checked system.aura.custom}}> {{localize "PF1.Custom"}}
    </label>
  </div>
  {{else}}
  <div class="form-fields">
    <label class="aura-strength">{{auraStrength_name}}</label>
    <select name="system.aura.school">
      {{selectOptions config.spellSchools selected=system.aura.school blank=""}}
    </select>
    <label class="checkbox">
      <input type="checkbox" name="system.aura.custom" {{checked system.aura.custom}}> {{localize "PF1.Custom"}}
    </label>
  </div>
  {{/if}}
</div>

<div class="form-group stacked">
  {{#if @root.isGM}}
  <label class="checkbox cursed">
    <input type="checkbox" name="system.cursed" {{checked system.cursed}}> {{localize "PF1.Cursed"}}
  </label>
  {{/if}}
</div>

{{!-- Identify DC --}}
{{#if isGM}}
<div class="form-group identification">
  <div class='base-dc'>
    <label>{{localize "PF1.IdentifyDC"}}</label>
    <span class='value'>{{identify.dc}}</span>
  </div>
  {{#if system.cursed}}
  <div class='curse-dc'>
    <label>{{localize "PF1.IdentifyCurseDC"}}</label>
    <span class='value'>{{identify.curse}}</span>
  </div>
  {{/if}}
</div>
{{/if}}
{{/unless}}
