<div class="item-name flexcol">
  {{#if isGM}}
  <h3>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'PF1.ItemName'}}">
  </h3>
  <h3>
    <input name="system.unidentified.name" type="text" value="{{system.unidentified.name}}" placeholder="{{localize 'PF1.UnidentifiedName'}}">
  </h3>
  {{else if showUnidentifiedData}}
  <h1>
    <input name="system.unidentified.name" type="text" value="{{name}}" placeholder="{{localize 'PF1.ItemName'}}">
  </h1>
  {{else}}
  <h1>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'PF1.ItemName'}}">
  </h1>
  {{/if}}
</div>

{{! Content Source }}
{{~> "systems/pf1/templates/internal/content-source-view.hbs"}}
