<nav class="sheet-navigation tabs" data-group="links" data-tabs-type="list">
  {{#each links.list as |link|}}
  <a class="item" data-tab="{{link.id}}" data-group="links">{{link.label}}</a>
  {{/each}}
</nav>

<section class="links-body">

  {{#each links.list as |link|}}
  {{!-- Children Tab --}}
  <div class="tab" data-group="links" data-tab="{{link.id}}">
    {{!-- Info --}}
    <div class="help-text">
      <i class="help-icon fas fa-info-circle"></i> {{link.help}}
    </div>

    <table class="item-links">
      <tr>
        <th>{{localize "PF1.Item"}}</th>

        {{#each link.fields as |fv fk|}}
        <th class="links-item-extra-field">{{fv.label}}</th>
        {{/each}}

        <th class="links-controls"></th>
      </tr>
      {{#each link.items}}
      <tr class="links-item{{#if broken}} broken-link{{/if}}" data-uuid="{{uuid}}" data-index="{{@index}}" data-tooltip="UUID: {{uuid}}">
        {{!-- Link name and image --}}
        <td class="links-item-name">
          <div>
            <img src="{{img}}" width="24" height="24">
            <span class="name">
              {{#if name}}{{name}}{{else}}{{uuid}}{{/if}}
            </span>
          </div>
        </td>

        {{#each link.fields}}
        <td class="links-item-extra-field">
          <input type="text" data-dtype="{{type}}" value="{{lookup .. @key}}" name="system.links.{{link.id}}.{{../index}}.{{@key}}">
        </td>
        {{/each}}

        {{!-- Link Controls --}}
        <td class="links-controls">
          <div>
            {{#if @root.owner}}
            <a class="link-control delete-link" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{/each}}
</section>
