<div class="form-group stacked">
  <label>
    {{#if label}}
      {{localize label}}
    {{else}}
      {{localize "PF1.Materials.Addon"}}
    {{/if}}</label></label>
  <div class="form-group stacked weapon-properties">
    {{#each materialCategories.addons}}
    <label class="checkbox">
      <input type="checkbox" value="{{key}}" name="{{../reference}}.{{key}}" {{checked (lookup @root.materialAddons key)}}/>
      {{localize name}}
    </label>
    {{/each}}
  </div>
</div>
