<form autocomplete="off">
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="dontShowAgain" {{checked dontShowAgain}}> {{localize "PF1.DontShowAgain"}}
        </label>
    </div>

    <div class="content">
        {{{changelog}}}
    </div>
</form>
