<form class="pf1 damage-type-selector" autocomplete="off">
  <div class="flexrow damage-type-container">
    <div class="flexcol damage-type-categories">
      {{#each damageCategories as |category categoryKey|}}
      <div class="damage-types" data-category="{{categoryKey}}">
        <label>{{localize category.label}}</label>
        <div class="icon-row">
          {{#each category.data as |dt|}}
          <div class="damage-type{{#if (arrayHas array=@root.data.values value=dt._id)}} toggled{{/if}}" data-id="{{dt._id}}">
            {{!-- Icon --}}
            {{#if dt.icon}}
            <i class="{{dt.icon}} icon-pf" style="color: {{dt.color}}"></i>
            {{else}}
            <img class="icon" src="{{dt.img}}">
            {{/if}}
            {{!-- Name --}}
            <span class="name">{{localize dt.name}}</span>
            <input type="checkbox" {{checked (arrayHas array=@root.data.values value=dt._id)}}>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>

    <div class="damage-modifiers">
      <label>{{localize "PF1.DamageModifiers"}}</label>
      <div class="icon-row">
        {{#each damageModifiers as |dt|}}
        <div class="damage-type{{#if (arrayHas array=@root.data.values value=dt._id)}} toggled{{/if}}" data-id="{{dt._id}}">
            {{!-- Icon --}}
            {{#if dt.icon}}
            <i class="{{dt.icon}} icon-pf" style="color: {{dt.color}}"></i>
            {{else}}
            <img class="icon" src="{{dt.img}}">
            {{/if}}
            {{!-- Name --}}
          <span class="name">{{localize dt.name}}</span>
          <input type="checkbox" {{checked (arrayHas array=@root.data.values value=dt._id)}}>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="flexrow misc-container">
    <div class="form-group custom">
      <label>{{localize "PF1.Custom"}}</label>
      <input type="text" name="custom" value="{{@root.data.custom}}">
    </div>
  </div>

  <button type="submit" name="submit"><i class="far fa-save"></i> {{ localize "Save Changes" }}</button>
</form>
