<form>
  <div class="form-group">
      <label>{{#if nonlethal}}{{localize "PF1.Nonlethal"}} {{/if}}{{#if healing}}{{localize "PF1.Healing"}}{{else}}{{localize "PF1.Damage"}}{{/if}}</label>
      <input type="text" name="damage" data-dtype="Number" value="{{damage}}">
  </div>
  <div class="form-group">
    <label>{{localize "PF1.ReduceBy"}}</label>
    <input type="text" name="damage-reduction" data-dtype="Number" value="{{damageReduction}}">
  </div>

  {{!-- Selected tokens --}}
  <div class="form-group">
    <label>{{localize "TOKEN.Update"}}</label>
    <div class="form-fields">
      <a name="swap-selected"><i class="fas fa-sync"></i> {{localize "PF1.SwapSelected"}}</a>
      <a name="clear-reduction"><i class="fas fa-times"></i> {{localize "PF1.ClearReduction"}}</a>
    </div>
  </div>
  <div class="form-group stacked selected-tokens">

    {{#each tokens as | token |}}
    <div class="form-fields">
      <label class="checkbox">
        <input type="checkbox" class="tokenAffected" name="affect.{{_id}}" {{checked this.checked}}> {{name}}
      </label>
    </div>
    {{#if (or dr eres)}}
    <p class="notes" style="display: flex; justify-content: space-around;">
        {{#if dr}}
        <span>
          <u>{{localize "PF1.DamRed"}}</u><br>
          {{#each dr}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
        {{#if eres}}
        <span>
          <u>{{localize "PF1.EnRes"}}</u><br>
          {{#each eres}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
    {{/if}}
    {{#if (or di dv)}}
    <p class="notes" style="display: flex; justify-content: space-around;">
        {{#if di}}
        <span>
          <u>{{localize "PF1.DamImm"}}</u><br>
          {{#each di}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
        {{#if dv}}
        <span>
          <u>{{localize "PF1.DamVuln"}}</u><br>
          {{#each dv}}<a style="padding: 0 0.5em;">{{this}}</a>{{/each}}
        </span>
        {{/if}}
    </p>
    {{/if}}
    {{/each}}
  </div>
</form>
