<form autocomplete="off">
  <div class="summary">
    <h2>{{localize "PF1.LevelUp.Summary.Label"}}</h2>
    {{> "systems/pf1/templates/apps/level-up/summary.hbs"}}
  </div>

  <section>
    <div class="segment health">
      <h2>{{localize "PF1.LevelUp.Health.Label"}}</h2>
      {{> "systems/pf1/templates/apps/level-up/health.hbs"}}
    </div>

    <div class="segment fcb">
      <h2>{{localize "PF1.LevelUp.FC.Label"}}</h2>
      {{> "systems/pf1/templates/apps/level-up/fcb.hbs"}}
    </div>

    {{#unless isMythic}}
    <div class="segment ability-score">
      <h2>{{localize "PF1.LevelUp.AbilityScore.Label"}}</h2>
      {{#if abilityScore.new}}
      {{> "systems/pf1/templates/apps/level-up/ability-score.hbs"}}
      {{else if abilityScore.next}}
      <p class="info">{{localize "PF1.LevelUp.AbilityScore.Next" level=abilityScore.next}}</p>
      {{/if}}
    </div>
    {{/unless}}
  </section>

  <footer class="buttons">
    <button type="button" data-action="skip" data-tooltip="PF1.LevelUp.SkipHint">
      <i class="fa-solid fa-pen"></i>
      {{localize "PF1.Manual"}}
    </button>

    <div class="padding"> </div>

    <select name="rollMode">
      {{selectOptions rollModes selected=rollMode localize=true blank="PF1.Default"}}
    </select>

    <button type="submit" {{#unless ready}}disabled{{/unless}} data-action="commit">
      <i class="fa-solid fa-floppy-disk"></i>
      {{localize "PF1.Finish"}}
    </button>
  </footer>
</form>
