<form class="pf1 custom-skill" autocomplete="off">
  <div class="form-group">
    <label>{{localize "PF1.Name"}}</label>
    <div class="form-fields">
      <input type="text" name="skill.name" value="{{skill.name}}" data-dtype="String"{{#if skill.static}} disabled{{/if}} required>
    </div>
  </div>

  {{#unless skill.static}}
  <div class="form-group">
    <label>{{localize "PF1.Tag"}}</label>
    <div class="form-fields">
      <input type="text" name="tag" value="{{skill.tag}}" data-dtype="String" required>
    </div>
  </div>
  {{/unless}}

  <div class="form-group">
    <label>{{localize "PF1.Rank"}}</label>
    <div class="form-fields">
      <input type="text" name="skill.rank" value="{{skill.rank}}" data-dtype="Number" min="0" step="1">
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.ACPLong"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="skill.acp" {{checked skill.acp}} data-dtype="Boolean">
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.RTTooltip"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="skill.rt" {{checked skill.rt}} data-dtype="Boolean">
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.Ability"}}</label>
    <div class="form-fields">
      <select class="skill-ability" name="skill.ability" data-dtype="String">
        {{selectOptions @root.config.abilities selected=skill.ability blank="PF1.None" localize=true}}
      </select>
    </div>
  </div>

  {{#unless skill.static}}
  <div class="form-group">
    <label>{{localize "DOCUMENT.JournalEntry"}}</label>
    {{#if journal}}
    <div class="compendium-entry flexrow" data-compendium-entry="{{journal.uuid}}" data-document-type="{{journal.documentType}}">
      <a class="compendium-page">
        <span>{{journal.name}}</span>
        <i class="fas fa-book compendium-icon"></i>
      </a>
      <div class="compendium-controls">
        <a class="delete"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/if}}
  </div>
  {{/unless}}

  <button type="submit" name="submit"><i class="far fa-save"></i> {{ localize "Save Changes" }}</button>
</form>
