<form autocomplete="off">
  {{! Base Land Speed}}
  <div class="form-group">
    <label>{{localize "PF1.Movement.Mode.land"}} <span class="units">({{units}})</span></label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" name="system.speeds.land" min="0" value="{{speeds.land}}">
    </div>
  </div>

  {{! Fly Speed}}
  <div class="form-group">
    <label>{{localize "PF1.Movement.Mode.fly"}} <span class="units">({{units}})</span></label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" name="system.speeds.fly" min="0" value="{{speeds.fly}}">
    </div>
  </div>

  {{! Swim Speed }}
  <div class="form-group">
    <label>{{localize "PF1.Movement.Mode.swim"}} <span class="units">({{units}})</span></label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" name="system.speeds.swim" min="0" value="{{speeds.swim}}">
    </div>
  </div>

  {{! Climb Speed }}
  <div class="form-group">
    <label>{{localize "PF1.Movement.Mode.climb"}} <span class="units">({{units}})</span></label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" name="system.speeds.climb" min="0" value="{{speeds.climb}}">
    </div>
  </div>

  {{! Burrow Speed }}
  <div class="form-group">
    <label>{{localize "PF1.Movement.Mode.burrow"}} <span class="units">({{units}})</span></label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" name="system.speeds.burrow" min="0" value="{{speeds.burrow}}">
    </div>
  </div>
</form>
