<form autocomplete="off">
  <ol class="trait-list">
    {{#each choices}}
    <li data-choice="{{@key}}">
      <label class="checkbox">
        <input type="checkbox" name="choices.{{@key}}" data-dtype="Boolean" {{checked chosen}}>
        {{label}}
      </label>
    </li>
    {{/each}}
  </ol>

  {{! Custom }}
  <div class="form-group stacked custom-tags">
    <h3>{{localize "PF1.Custom"}}</h3>
    <ul class="custom-tag-list">
      {{#each custom}}
      <li class="custom-tag" data-custom-tag="{{this}}">
        <a data-custom-tag="{{this}}" data-action="delete">
          <span>{{this}}</span>
          <i class="fa-solid fa-delete-left"></i>
        </a>
      </li>
      {{/each}}
      {{#unless custom.length}}
      <li class="info">{{localize "PF1.Application.TraitSelector.NoCustomEntries"}}</li>
      {{/unless}}
    </ul>

    <input type="text" name="custom" data-dtype="String" placeholder="{{localize "PF1.Application.TraitSelector.CustomPlaceholder"}}">

    <p class="hint">
      <i class="fa-solid fa-circle-info"></i>
      {{localize "PF1.Application.TraitSelector.CustomHint"}}
    </p>
  </div>

  <button type="submit">
    <i class="far fa-save"></i>
    {{localize updateButton}}
  </button>
</form>
