{{#with @root.bookSources}}
<div class="content-source {{#unless source.title}}missing{{/unless}}">
  <span class="source"
  {{#with main~}}
    {{#if title~}}
    data-tooltip-class="pf1 source"
    data-tooltip="
    {{~#if id}}{{localize "PF1.ContentSource.Info.ID"}}: {{id}}<br>{{/if~}}
    {{~#if edition}}{{localize "PF1.ContentSource.Info.Edition"}}: {{edition}}<br>{{/if~}}
    {{~#if errata}}{{localize "PF1.ContentSource.Info.Errata"}}: {{errata}}<br>{{else if date}}{{localize "PF1.ContentSource.Info.Release"}}: {{date}}<br>{{/if~}}
    {{~#if publisher}}{{localize "PF1.ContentSource.Info.Publisher"}}: {{publisher}}<br>{{/if~}}

    {{#if ../extras}}
    <p>{{localize "PF1.ContentSource.Extras"}}<p>{{#each ../extras}}{{title}}<br>{{/each}}
    {{/if}}
    "{{/if}}>
    <span class="title">{{title}}</span>
    {{#if abbr}}
    <span class="abbr">{{abbr}}</span>
    {{/if}}
    {{#if pages}}
    <span class="pages">{{localize "PF1.ContentSource.Pages" pages=pages}}</span>
    {{/if}}
    {{#if ../extras}}<span class="extra-source-count">{{numberFormat ../extras.length sign=true}}</span>{{/if}}
  {{else}}
    >{{localize "PF1.ContentSource.Missing"}}
  {{/with}}
  </span>
  <div class="control">
    <a data-action="edit" class="edit" data-tooltip="PF1.ContentSource.EditHint">
      <i class="fas fa-edit edit"></i>
    </a>
  </div>
</div>
{{/with}}
