<div class="spell-description">
  <p>
  <strong>{{localize "PF1.School"}}</strong>&nbsp;{{{label.school}}}{{#if label.subschool}}&nbsp;({{{label.subschool}}}){{/if}}{{#if label.descriptors}}&nbsp;[{{{label.descriptors}}}]{{/if}}
  {{~#unless chatcard}}
    {{~#if learnedAt.class}}; <strong>{{localize "PF1.Level"}}</strong>&nbsp;{{{learnedAt.class}}}{{/if}}
    {{~#if learnedAt.domain}}; <strong>{{localize "PF1.Domain"}}</strong>&nbsp;{{{learnedAt.domain}}}{{/if}}
    {{~#if learnedAt.subDomain}}; <strong>{{localize "PF1.SubDomain"}}</strong>&nbsp;{{{learnedAt.subDomain}}}{{/if}}
    {{~#if learnedAt.elementalSchool}}; <strong>{{localize "PF1.ElementalSchool"}}</strong>&nbsp;{{{learnedAt.elementalSchool}}}{{/if}}
    {{~#if learnedAt.bloodline}}; <strong>{{localize "PF1.Bloodline"}}</strong>&nbsp;{{{learnedAt.bloodline}}}{{/if}}
  {{else}};
    <strong>{{localize "PF1.Level"}}</strong> {{data.level}}
  {{/unless}}
  </p>
  <p>
  {{#if label.castingTime}}<strong>{{localize "PF1.CastingTime"}}</strong>&nbsp;{{{label.castingTime}}}<br>{{/if}}
  {{#if label.components}}<strong>{{localize "PF1.Components"}}</strong>&nbsp;{{{label.components}}}<br>{{/if}}
  </p>
  <p>
  {{#if label.range}}<strong>{{localize "PF1.Range"}}</strong>&nbsp;{{{label.range}}}<br>{{/if}}
  {{#if label.area}}<strong>{{localize "PF1.Area"}}</strong>&nbsp;{{{label.area}}}<br>{{/if}}
  {{#if label.targets}}<strong>{{localize "PF1.Targets"}}</strong>&nbsp;{{{label.targets}}}<br>{{/if}}
  {{#if label.effect}}<strong>{{localize "PF1.Effect"}}</strong>&nbsp;{{{label.effect}}}<br>{{/if}}
  {{#if label.duration}}<strong>{{localize "PF1.Duration"}}</strong>&nbsp;{{{label.duration}}}<br>{{/if}}
    {{#if useDCandSR}}
      <strong>{{localize "PF1.SavingThrow"}}</strong>&nbsp;{{{label.savingThrow}}};
      <strong>{{localize "PF1.SpellResistance"}}</strong>&nbsp;{{{label.sr}}}
      {{~#if label.harmless}}; <strong>{{localize "PF1.Harmless"}}</strong>&nbsp;{{{label.harmless}}}{{/if}}
      <br>
    {{/if}}
  </p>
</div>
